/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

/*******************************************************************************
  Dropdown action panel
*******************************************************************************/

.studio-action-panel {
    display: none;
    position: absolute;
    padding: 4px;
    z-index: 1999;
    .borderRadius(4px);
    .boxShadow();

    .corner-top,
    .corner-bottom {
        width: 7px;
        height: 6px;
        position: absolute;

        &.left {
            left: 16px;
        }

        &.right {
            right: 16px;
            left: auto;
        }
    }

    .corner-top {
        background: url("../default/images/dropdown-corner-top.gif") no-repeat transparent;
        top: -5px;
    }

    .corner-bottom {
        background: url("../default/images/dropdown-corner-bottom.gif") no-repeat transparent;
        bottom: -6px;
    }

    .dropdown-content {
        list-style-type: none;
        margin: 0;
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0;

        li {
            max-width: 375px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 1px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .dropdown-item,
        .dropdown-item a {
            background: none;
            border: 0;
            color: @textColor;
            cursor: pointer;
            display: block;
            font-size: 12px;
            line-height: 24px;
            margin: 0;
            padding: 0 12px;
            text-decoration: none;
            white-space: nowrap;
        }

        .dropdown-item {
            &.active {
                color: @linkColor;
            }

            &.disable {
                color: @textColorGrayLight;

                &:hover {
                    text-decoration: none;
                }
            }

            &:hover,
            &:hover a {
                text-decoration: none;
                background-color: #e9e9e9;
                .borderRadius(2px);
            }
        }

        .menu-row {
            border-bottom: 1px solid @borderColor;
            cursor: pointer;
            list-style: none outside none;
            outline: none;
            padding: 6px 0 5px;
            z-index: 100;

            &:hover {
                background-color: @hoverTable;
            }

            &:last-child {
                border-bottom: none;
            }

            a,
            span,
            div,
            input {
                outline: none;
            }
        }
    }
    /*******************************************************************************
   Icons for the moduls list
*******************************************************************************/
    &.modules li {
        .dropdown-item {
            background: url("@{img-change-url}dropdown-menu-icons.png") no-repeat 10px 6px transparent;
            padding-left: 32px;
        }

        &.projects .dropdown-item {
            background-position: 10px 7px;
        }

        &.crm .dropdown-item {
            background-position: 10px -45px;
        }

        &.documents .dropdown-item {
            background-position: 10px -97px;
        }

        &.community .dropdown-item {
            background-position: 10px -148px;
        }

        &.people .dropdown-item {
            background-position: 10px -201px;
        }

        &.tools .dropdown-item {
            background-position: 10px -253px;
        }

        &.mail .dropdown-item {
            background-position: 10px -304px;
        }

        &.calendar .dropdown-item {
            background-position: 10px -357px;
        }

        &.feed .dropdown-item {
            background-position: 10px -409px;
        }

        &.settings .dropdown-item {
            background-position: 10px -461px;
        }

        &.tarrifs .dropdown-item {
            background-position: 10px -565px;
        }

        &.talk .dropdown-item {
            background-position: 10px -513px;
        }
    }
}
.create-new-link-list {
    list-style: none outside none;
    padding: 0;
}

.dropdown-item-seporator {
    border-top: 1px dotted #a6a6a6;
    width: 100%;
}

.create-new-list-header {
    line-height: 32px;
    padding:0 12px;
    text-transform: uppercase;
}
