/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

.adv-userselector-selector {
    width: 18px;
    float: left;
    height: 20px;
    cursor: pointer;
}
.adv-userselector-selector-container {
    height: 20px;
    border: 1px solid #C7C7C7;
    padding-left: 5px;
    background-color: #fff;
}
.adv-userselector-deps {
    position: relative;
    display: block;
    z-index: 100;
    width: 49%;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}
.adv-userselector-users {
    position: relative;
    display: block;
    z-index: 100;
    width: 50%;
    height: 200px;
    float:left;
    overflow-x: hidden;
    overflow-y: auto;
}
.adv-userselector-dep {
    min-height: 14px;
    height: auto;
    padding: 4px;
    position: relative;
    z-index: 100;
}
.adv-userselector-user {
    min-height: 40px;
    height: auto;
    position: relative;
    z-index: 100;
}
.adv-userselector-user {
    background: url("images/default_user_photo_size_32-32.png") 4px 4px no-repeat transparent;
}
.adv-userselector-dep:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}
.adv-userselector-user:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.adv-userselector-userHover {
}
.adv-userselector-user > div {
    margin-left: 40px;
    min-height: 38px;
    padding-top: 2px;
}
.adv-userselector-user > img {
    float:left;
    padding:4px;
    width: 32px;
    height: 32px;
}
.adv-userselector-userFocused {
    background-color: #DEDEDE;
}

.adv-userselector-DepsAndUsersContainer {
    position: absolute;
    display: none;
    z-index: 100;
    margin-top: -1px;
    min-width: 500px;
    max-width: 800px;
    height: 200px;
    background-color: #FFF;
    border: 1px solid rgb(199, 199, 199);
    padding: 10px;
}

*:first-child+html .adv-userselector-DepsAndUsersContainer {
    position: absolute;
    display: none;
    z-index: 100;
    margin-top: -1px;
    width: 500px;
    height: 200px;
    background-color: #FFF;
    border: 1px solid rgb(199, 199, 199);
    padding: 10px;
}
.adv-userselector-dep.select {
    background-color: #F2F2F2;
}
.adv-userselector-inputContainer input {
    border: medium none;
    outline: medium none;
    padding: 1 !important;
    width: 100% !important;
    height: 16px;
}
.adv-userselector-inputContainer input:focus {
    border: medium none !important;
    outline: medium none !important;
    padding: 1 !important;
    width: 100% !important;
    height: 16px;
}