/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

.codestyle,
.codestyle pre {
    font-size: small;
    color: black;
    font-family: Consolas, "Courier New", Courier, Monospace;
    background-color: #ffffff;
    margin: 8px 0;
}
.codestyle ul,
.codestyle pre {
    list-style-type: none;
    margin: 0;
}
.codestyle table {
    border: 1px none Black;
    width: 100%;
}
.codestyle table td {
    padding: 5px 3px;
}
.codestyle table td.lines {
    border-right: 1px none black;
    text-align: right;
}
.codestyle table td.tdcode pre {
    width: 670px;
    overflow-x: auto;
    overflow-y: hidden;
}
.codestyle .rem {
    color: #008000;
}
.codestyle .kwrd {
    color: #0000ff;
}
.codestyle .str {
    color: #006080;
}
.codestyle .op {
    color: #0000c0;
}
.codestyle .preproc {
    color: #cc6633;
}
.codestyle .asp {
    background-color: #ffff00;
}
.codestyle .html {
    color: #800000;
}
.codestyle .attr {
    color: #ff0000;
}
.codestyle .alt {
    background-color: #f4f4f4;
    width: 100%;
    margin: 0;
}
.codestyle .lnum {
    color: #606060;
}
.codestyle ol li,
.codestyle ul li {
    white-space: pre-wrap;
}
