/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

/*******************************************************************************
				Lists
*******************************************************************************/

/**** Big List with content *****/
.container-list {
    border-top: 1px solid @borderColor;
    
    &:last-child {
        border-bottom: 1px solid @borderColor;
    }
    
    &:hover {
        .header-list .describe-list .title-list a,
        .content-list .comment-list a,
        .header-list .describe-list .info-list a.gray-text
        {
            text-decoration: underline;
        }
        
        .header-list .describe-list .info-list .name-list {
            border-bottom: 1px dotted @textColor;

            &.not-action {
                border-bottom: 1px solid transparent;
                cursor: default;
            }
        }
        .read-more {
            background-image: url('@{imagesBaseUrl}arrow-right-blue.png');
            
            font { 
                border-bottom: 1px solid @linkColor;  
                color: @linkColor;
            }
        }
    }
  
    .header-list {
        border-bottom: 1px dotted @borderColor;
        padding: @tablePadding @tablePadding @tablePadding*2;
        
        .avatar-list {
             float: left;
             
             img {
                 height: 82px;
                 width: 82px;
             }
        }
        
        .describe-list {       
            margin-left: 98px;
            overflow: hidden;
            word-wrap: break-word;
            
            .title-list {
                 margin: 0 0 @tablePadding;
                 
                 a {
                    .text-overflow();
                    color: @textColor;
                    display: inline-block;
                    font-size: 16px;
                    .bold;
                    max-width: 95%;
                    text-decoration: none;
                   
                 }
            }
            
            .info-list {
                overflow: auto;
                
                .caption-list {
                    .text-overflow();
                    color: @textColorGrayDark;
                    float: left;
                    margin-right: 3px;
                    max-width: 55px;                    
                    width: 55px;
                }
                .name-list {
                    border-bottom: 1px solid transparent;
                    cursor:pointer;
                    float: left;
                    margin-right: 5px;
                    max-width: 800px;
                    overflow: hidden;

                    a:hover {
                        text-decoration: none;
                    }
                                        
                }
            }
            .date-list {
                color: @textColorGrayDark;
                margin-top: @tablePadding;
                
                .time-list {
                     padding-left: @tablePadding*2;
                }
            }
        }
    }
   
   .content-list {
        overflow: hidden;
        padding: @tablePadding @tablePadding @tablePadding*2;
        word-wrap: break-word;
        
        .comment-list {            
            margin-top: @tablePadding*2;
            
            a {
                color: @textColorGrayDark;
                display: inline-block;
                margin-right: 32px;
                text-decoration: none;
            }
        }
        
        .asccut {
            display: none;
        }
    }
    
    .read-more {
        background: url('@{imagesBaseUrl}arrow-right.png') no-repeat right 4px transparent;
        display: inline-block;  
        margin: 10px 0;   
        padding-right: 14px;
        text-decoration: none; 
        
        font {
            color: @textColorGrayDark;
            cursor: pointer;
            .bold;
            text-decoration: none;
        }
    }
}

table.table-list {
    border-collapse: collapse;
    width: 100%;


    &.height48 tr {
        height: 48px;
    }

    &.height40 tr {
        height: 40px;
    }

    &.height32 tr {
        height: 32px;
    }

    tbody tr {
        border: 1px solid @borderColor;
        border-left: none;
        border-right: none;

        &:hover {
            background-color: @hoverTable;

            a {
                text-decoration: underline;
            }

            .link.dotted {
                border-bottom: 1px dotted;
            }
        }

        &.selected {
            background-color: @activeTable;
        }

        td {
            text-align: left;
            vertical-align: middle;

            &.check-list {
                min-width: 23px;
                width: 23px;
                padding: 0 0 0 5px;
            }

            &.menu-action-list {
                width: 40px;
            }

            &.icon-list {
                width: 32px;
            }
        }
    }
}

@media all and (max-width: 1300px) {
    table.table-list tr td.menu-list {
        width: 30px;
    }
}

/**** Simple list with marker *****/

.simple-marker-list {
    background: url("imagescss/list_marker_12.png") no-repeat 0 7px transparent;  
    padding: 4px 0 4px 16px;
}

/**** List of the items with reset icon *****/

.items-display-list {
    min-height: 70px;
    padding: 0;
    margin: 0;
    list-style: none;

    .items-display-list_i {
        border-top: 1px solid @borderColor;
        border-bottom: 1px solid @borderColor;
        display: inline-block;
        width: 300px;
        line-height: 14px;
        margin-right: 20px;
        position: relative;
        padding: 8px;
        margin-top: -1px;

        .item-name {
            display:inline-block;
            cursor: default;
            max-width:285px;
            .text-overflow();
        }

        &:hover {
            background-color: @hoverTable;

            .item-name {
                text-decoration: underline;
            }

            .reset-action {
                display: block;

                &.hidden {
                    display: none;
                }
            }
        }
    }

    .reset-action {
        background: url("@{imagesBaseUrl}remove_16.png") no-repeat scroll bottom center transparent;
        cursor: pointer;
        display: none;
        height: 16px;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 16px;
    }
}