/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

@import "../../../../../skins/base.less";

.ui-btn .inner-text {
    .borderRadius();
    background-color: #fff;
}


.toggle-menu .menu-container,
.custom-statusbox .statusbox-container {
  .boxShadow();
}

.toggle-menu .menu-title,
.custom-statusbox .statusbox-title {
  .noneSelect();
}

.toggle-menu .menu-helper,
.custom-statusbox .statusbox-helper {
  display: block;
  width: 100%;
  height: 1px;
  line-height: 1px;
  position: absolute;
  left: 0;
  bottom: -4px;
  z-index: 2;
  cursor: default;
}

.withHoverArrowDown {
    cursor: pointer;
    padding: 0 12px 0 0;
    position: relative;

    &.active:after {
        display: block;
    }
}

.btn.email:after, .withHoverArrowDown:after {
    display: block;
    background: url(../imgs/angle06.png) left bottom  no-repeat;
    height: 4px;
    width: 7px;
    margin: -1px 0 0;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 0;
    content: " ";
    text-align: center;
    color: #FFF;
}
.ui-btn {
    display: inline-block;
    line-height: 18px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #333 !important;
    white-space: nowrap;
}
.ui-btn .inner-text {
    display: inline-block;
    background: #E9EAEA;
    border: 1px solid #B8B8B8;
    padding: 0 12px 0 18px;
}
.ui-btn.back:after {
    display: inline-block;
    background: url(../imgs/btn-subtr.png) left center no-repeat;
    width: 12px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    color: #FFF;
    text-align: center;
    content: " ";
}

.linkAction.button.blue,
a.linkAction.button.blue:hover,
a.linkAction.button.blue:visited {
    margin-right:8px;
    color: #FFF;
    text-decoration: none;
}

#peopleFilter {
    margin-top: 16px;
}

#tableForPeopleNavigation {
    margin-top: 16px;
    width: 100%;

    .tl-combobox {
        margin-bottom: 1px;
        vertical-align: middle;
    }
}
#departmentManager .result-name {
    max-width: 328px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#totalUsers {
    margin-right: 20px;
}
@media all and (max-width: 1200px) {
    .page-nav-info {
        display: block;
    }
}
table.table-list tbody tr:hover .link.dotted {
    border-bottom: 1px dotted;
    text-decoration: none;
}

#peopleData .ui-btn {
    display: block;
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
}

#peopleData .profile.invalid-by-filter {
    display: none;
}
#peopleData .ava {
    display: inline-block;
    position: relative;

    img {
        background: #fff;
        width: 32px;
        overflow: hidden;
        border: 1px solid #c7c7c7;
    }

    .role {
        left: -2px;
        position: absolute;
        top: 23px;
    }
}
#peopleData .email.btn {
    cursor: pointer;
    display: inline-block;
}
#peopleData .profile {
    .ava .status {
        display: block;
        height: 16px;
        left: 9px;
        position: absolute;
        top: 10px;
        width: 16px;
    }

    &.blocked .ava .status {
        background: url(../imgs/icon-user-blocked-small.png) center no-repeat;
    }

    &.waited {
        .ava .status {
            background: url(../imgs/icon-user-wait-small.png) center no-repeat;
        }
        .name,
        td a.link.bold {
            color: #83888D;
        }
    }
}


#peopleData .group, 
#peopleData .info {
    white-space: nowrap;
    max-width:115px;
}
#peopleData .info .red-text {
    float:left;
    margin-right:2px;
}

#peopleData .info .btn.email,
#peopleData .info .email .email {
    display:inline-block;
    height: 18px;
    max-width:250px;
    overflow: hidden;
    padding-right: 13px;
    position:relative;
    text-overflow:ellipsis;
}
#peopleData .info .red-text + .email .email {
      max-width: 200px;
}

#peopleData .profile.hover{
    background-color: #f2f2f2;
}

#peopleData .email:after, .withHoverArrowDown:after {
    display: none;
}
#peopleData .profile.hover .email:after,
#peopleData .profile:hover .email:after,
#peopleData .profile:hover .withHoverArrowDown:after {
    display: block;
}

#peopleData .profile .birthday {
    background: url(../imgs/birthday.png) 0 0 no-repeat;
    color: #ff9000;
    display: inline-block;
    margin-left: 2px;
    padding: 4px 0 4px 20px;
}

#peopleData td.name,
#peopleData td.group,
#peopleData td.location
{
    max-width:200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-header {
    position: relative;

    .ui-btn,
    .profile-title {
        float: left;
    }
}
.profile-title {
    display: inline-block;
    height: 35px;
    white-space: nowrap;

    .header {
        display: inline-block;
        max-width: 600px;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media all and (max-width: 1450px) {
    #peopleData .info .btn.email,
    #peopleData .info .email .email{
        max-width: 150px;
    }
    #peopleData .info .red-text + .email .email {
        max-width: 100px;
    }
}

@media all and (max-width: 1200px) {
    #peopleData td.name,
    #peopleData td.group,
    #peopleData td.location
    {
        max-width:120px;
    }
}

@media all and (max-width: 1100px) {
    #peopleData .info .btn.email,
    #peopleData .info .email .email{
        max-width: 120px;
    }
    #peopleData .info .red-text + .email .email {
        max-width: 70px;
    }
    #peopleData td.name,
    #peopleData td.group,
    #peopleData td.location {
        max-width: 120px;
    }
}

/*******************************************************************************
header menu elements for group operations
*******************************************************************************/
#mainDeselectAll {
    margin-left:10px;
}
.user-list-for-group-operation {
    border: 1px solid #D1D1D1;
    margin-top: 16px;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 8px 16px;
}
.user-list-for-group-operation input[type="checkbox"]
{
    vertical-align:middle;
    }
#changeTypeDialog .containerBodyBlock,
#changeStatusDialog .containerBodyBlock,
#resendInviteDialog .containerBodyBlock,
#deleteUsersDialog .containerBodyBlock{
    line-height: 20px;
}

/*******************************************************************************
            Menu Action
*******************************************************************************/


/*@media all and (max-width: 1300px) {
    .menuAction.menuRemoveUsers {
        display: none;
    }
}
@media all and (max-width: 1280px) {
    .menuAction.menuWriteLetter  {
        display: none;
    }
}

@media all and (max-width: 1180px) {
    .menuAction.menuSendInvite {
        display: none;
    }
}*/

.menuAction.otherFunctions {
    /*display: none;

    li {
        display: none;
    }*/

    /*@media all and (max-width: 1300px) {
        display: block; 
        
        li.menuRemoveUsers {
            display: block;
        }
    }

    @media all and (max-width: 1280px) {
        li.menuWriteLetter {
            display: block;
        }
    }

    @media all and (max-width: 1180px) {
        li.menuSendInvite {
            display: block;
        }
    }*/

    .studio-action-panel {
        cursor: default;
        z-index: 400;

        .dropdown-content li {
            text-align: left;

            a {
                color: #b2b2b2;
                cursor: default;
                display: block;
                height: 100%;
                text-decoration: none;
            }

            &.unlockAction a {
                color: #333;
                cursor: pointer;
            }
        }
    }
}
#membersDepartmentList {
    max-width: 290px;

    li .result-name {
        max-width: 300px;
    }
}
.members-dep-list {
    margin-top: 10px;
    max-height: 150px;
    overflow-y: auto;
}

.mainPageContent {
    & > .default-title,
    #filterContainer,
    #tableForPeopleNavigation {
        display: none;
    }
}
/*******************************************************************************
        Banner for the import people
*******************************************************************************/

.people-import-banner {
    margin-top:24px;
}
.people-import-banner_text {
    color: #83888d;
    font-size: 13px;
    margin-bottom: 10px;
}
.people-import-banner_img {
    background: url(../imgs/people_import.png) no-repeat 0 0 transparent;
    cursor:pointer;
    height: 32px;
    width: 240px;

    &:hover {
        background-position: center bottom;
    }
}