/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/


// -------------------------
// Main parameters
// -------------------------

@imagesBaseUrl:     "../default/imagescss/";
@img-change-url: "../wild-pink/img/";  // for images of different color themes

@grayButtonTextColor:           #fff;
@grayButtonTextColorDisable:    #fff;

// Top Studio Panel
// -------------------------
@bg-header:         #333;
@bg-header-icons:   #484848;

@bg-header-icon-lable-start:    #e1007a;
@bg-header-icon-lable-end:      #e1007a;


// Left Navigation Menu
// -------------------------

@color-active-item:     #e1007a;

@bg-is-new-start:       #e1007a;
@bg-is-new-end:         #e1007a;
@bg-is-new-hover-start: #e65995;
@bg-is-new-hover-end:   #e65995;


// Buttons style
// -------------------------

@bg-create-new-start:           #e1007a;
@bg-create-new-end:             #e1007a;
@bg-create-new-hover-start:     #eb3e88;
@bg-create-new-hover-end:       #eb3e88;
@bg-create-new-disable-start:   #f0bbd2;
@bg-create-new-disable-end:     #f0bbd2;


@bg-button-action-start:            #777677;
@bg-button-action-end:              #777677;
@bg-button-action-hover-start:      #868485;
@bg-button-action-hover-end:        #868485;
@bg-button-action-active-start:     #969495;
@bg-button-action-active-end:       #969495;
@bg-button-action-disable-start:    #d3d1d2;
@bg-button-action-disable-end:      #d3d1d2;

@bg-button-default-start:            #aaa;
@bg-button-default-end:              #aaa;
@bg-button-default-hover-start:      #b4b4b4;
@bg-button-default-hover-end:        #b4b4b4;
@bg-button-default-active-start:     #bfbfbf;
@bg-button-default-active-end:       #bfbfbf;
@bg-button-default-disable-start:    #d2d2d2;
@bg-button-default-disable-end:      #d2d2d2;


// Buttons border style
// -------------------------

@border-button-default:         #aaa;
@border-button-default-hover:   #b4b4b4;
@border-button-default-active:  #bfbfbf;
@border-button-default-disable: #d2d2d2;