﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ExamplePluginControl.ascx.cs" Inherits="ASC.Web.Projects.Controls.ExamplePage.ExamplePluginControl" %>

<%--<div id="filterContainer">
    <div id="ProjectsAdvansedFilter"></div>
</div>--%>

<div>
    <h1>this is the Example Page content</h1>
</div>
