/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/


// -------------------------
// Main parameters
// -------------------------

@imagesBaseUrl:     "../default/imagescss/";
@img-change-url: "../dark-green/img/";  // for images of different color themes


// Top Studio Panel
// -------------------------
@bg-header:         #262626;
@bg-header-icons:   #323232;

@bg-header-icon-lable-start:    #eb710d;
@bg-header-icon-lable-end:      #eb710d;

// Left Navigation Menu
// -------------------------

@color-active-item:     #333;
@style-active-item:     bold;

@bg-is-new-start:       #e56c00;
@bg-is-new-end:         #e56c00;
@bg-is-new-hover-start: #f39038;
@bg-is-new-hover-end:   #f39038;

// Buttons style
// -------------------------

@bg-create-new-start:           #8bc500;
@bg-create-new-end:             #2a9400;
@bg-create-new-hover-start:     #8ecb19;
@bg-create-new-hover-end:       #469c25;
@bg-create-new-disable-start:   #c0dd88;
@bg-create-new-disable-end:     #8fb97e;


@bg-button-action-start:            #2faadd;
@bg-button-action-end:              #0062a0;
@bg-button-action-hover-start:      #4db9e6;
@bg-button-action-hover-end:        #1f76ae;
@bg-button-action-active-start:     #3aacdc;
@bg-button-action-active-end:       #66acd8;
@bg-button-action-disable-start:    #a6dcf2;
@bg-button-action-disable-end:      #6ca4c7;