/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

/*--popup--*/
#templateActionPanel,
#projectMemberPanel,
#milestoneActions,
#taskActionPanel{
    width: 160px;
}
#projectMemberPanel ul {
    max-height: 180px;
    overflow: auto;
}

/*--entity-menu--*/
.entity-menu{  
	float: right;
	margin-top: -5px;
}
.menuButtonContainer.open .entity-menu,
.menuButtonContainer.open .entity-menu:hover,
.menuButtonContainer.open:hover .entity-menu,
.open .mainInfo.menuButtonContainer .entity-menu,
.open .mainInfo.menuButtonContainer .entity-menu:hover,
.open .mainInfo.menuButtonContainer:hover .entity-menu{
    background-position: center bottom;
}

/*----end common------*/


/*---------edit template-------*/

#addMilestone, #addNotAssignTask {
	padding-left: 15px;
	margin: 24px 0;
}

#addTaskContainer.edit {
    margin-bottom: 4px;
}

#addMilestoneContainer div:first-child,
#addTaskContainer div:first-child {
	border: 1px solid #D1D1D1;
	padding: 1px;
}
#addMilestoneContainer div:first-child{
    margin: 24px 0 12px 0;
    width: 95%;
}

#addTaskContainer div:first-child{
    margin-top: 4px;
    width: 94%;
}
#addMilestoneContainer div,
#addTaskContainer div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}
#addMilestoneContainer div {
    margin-top: 13px;
}
#addTaskContainer div {
    margin-top: 3px;
}
#addMilestoneContainer,
#addTaskContainer {
	display: none;
}

#addMilestoneContainer.red-border,
#addTaskContainer.red-border {
    border-color: #CC0000;
}
#addMilestoneContainer #newMilestoneTitle {
	border: none;
	width: 70%;
}
#addMilestoneContainer select {
	width: 100px;
	border:1px solid #D1D1D1;
	margin-right: 10px;
}
#addTaskContainer #newTaskTitle {
	border: none;
	margin-left: 15px;
	width: 75%;
}

@media all and (max-width: 1500px) {
    #addMilestoneContainer div:first-child {
        width: 94%;
    }

    #addTaskContainer div:first-child {
        width: 93%;
    }

    #addMilestoneContainer #newMilestoneTitle {
        width: 65%;
    }

    #addTaskContainer #newTaskTitle {
	    width: 75%;
    }
}

@media all and (max-width: 1300px) {
    #addMilestoneContainer div:first-child {
        width: 93%;    
    }
    #addTaskContainer div:first-child {
        width: 92%;    
    }
    #addMilestoneContainer #newMilestoneTitle {
        width: 60%;
    }
    #addTaskContainer #newTaskTitle {
	    width: 70%;
    }
}
@media all and (max-width: 1200px) {
    #addMilestoneContainer div:first-child {
        width: 92%;    
    }
    #addTaskContainer div:first-child {
        width: 91%;    
    }
    #addMilestoneContainer #newMilestoneTitle {
        width: 55%;
    }
    #addTaskContainer #newTaskTitle {
	    width: 65%;
    }
}
@media all and (max-width: 1100px) {
    #addMilestoneContainer div:first-child {
        width: 91%;    
    }
    #addTaskContainer div:first-child {
        width: 90%;    
    }
    #addMilestoneContainer #newMilestoneTitle {
        width: 45%;
    }
    #addTaskContainer #newTaskTitle {
	    width: 60%;
    }
}

/*----list milestones-----*/
#listAddedMilestone {
	clear: left;
}
.milestone:not(:first-of-type) {
    margin-top: 20px;
}
.milestone .mainInfo {
	height: auto;
	padding: 4px 15px;
	font-size: 14px;
    font-weight:bold;
}
.milestone .mainInfo .addTask {
	margin-left: 15px;
	color: #333;
	border-bottom: 1px dotted #333333;
    padding: 0;
	font-size: 11px;
	display: none;
	text-decoration: none;
	cursor: pointer;
}

.milestone .mainInfo:hover .addTask {
	display: inline-block;
    vertical-align: top;
}
.milestone .mainInfo .entity-menu, .task .entity-menu {
	margin-top: -2px;
}
.milestone .mainInfo:hover {
	background-color: #F5F5F5;
}
.milestone.open .mainInfo{
	background-color: #F5F5F5;
}

.milestone .mainInfo .daysCount,
.milestone .mainInfo .dueDate {
	color: #83888D;
	margin-right: 10px;
	width: 85px;
	display: inline-block;
    vertical-align: top;
}
.milestone .mainInfo:hover .daysCount span,
.milestone .mainInfo:hover .dueDate span{
	border-bottom: 1px dotted #83888D;
	cursor: pointer;
}

.milestone .mainInfo .titleContainer,
.milestone .mainInfo .titleContainerEdit {
	display: inline-block;
}

.milestone .mainInfo .titleContainer {
    max-width: 70%;
}

.milestone .mainInfo .titleContainerEdit {
    max-width: 85%;
}

.milestone .mainInfo .title {
	color: #333;
}



.milestone .mainInfo:hover .title {
	border-bottom: 1px dotted #333;
	cursor: pointer;
}
@media all and (max-width: 1200px)
{
    .milestone .mainInfo .title,
    .task .title
    {
        max-width: 400px;
    }
}
/*--list tasks--*/
.milestoneTasksContainer{ display: none;}

.listTasks .titleContainer,
#listNoAssignListTask .titleContainer {
    display: inline-block;
    max-width: 80%;
}

.task {
	height: auto;
	padding: 6px 15px 6px 35px;
	font-weight:normal;
    border-top: 1px solid #D1D1D1;
    line-height: 20px;
}
.task:last-child {
    border-bottom: 1px solid #D1D1D1;
}
.task.open {
	background-color: #F5F5F5;
}
.task:hover {
	background-color: #F5F5F5;
}
.task:hover .title {
	border-bottom: 1px dotted #333;
}
.addTaskContainer {
	padding-left: 35px;
	padding-bottom: 10px;
    padding-top: 6px;
	display: none;
}
.addTaskContainer a,
.addTaskContainer a:hover,
.addTaskContainer a:active,
.addTaskContainer a:visited, 
#addMilestone a,
#addMilestone a:hover,
#addMilestone a:active,
#addMilestone a:visited {
    color: #333;
}

#noAssignTaskContainer .addTaskContainer {
	display: inline-block;
}
.unlocatedTaskTitle 
{
	color: #666;
	font-size: 14px;
    font-weight:bold;	
    padding-left: 15px;
}
.disable.ActionButton,
.disable.ActionButton:hover {
 	color: #999;
 	border-color: #D1D1D1;
	cursor: default;
	background-color: #E8E8E8;
	background-image: none;
}
/*---------end edit template-------*/

/*-------create project from template----*/


#addMilestoneContainer .textEditCalendar {
	height: 16px;
}

/*---choose responsible---*/
.chooseResponsible {
	float: right;
	margin-right: 14px;
	font-weight: normal;
	font-size: 12px;
	background: url("../images/small-icons.png") no-repeat right -82px;
	padding-top: 2px;
	padding-right: 18px;
	cursor: pointer;
	width: 145px;
	text-align: right
}
.chooseResponsible .dottedLink {
	max-width: 140px;
	display: inline-block;
	overflow: hidden;
}
.chooseResponsible.nobody {
	display: none;
}
.task:hover > .chooseResponsible.nobody,
.task.open > .chooseResponsible.nobody,
.mainInfo:hover .chooseResponsible.nobody,
.milestone.open .mainInfo .chooseResponsible.nobody {
	display: inline-block;
}

/*--add task container---*/

#addMilestoneContainer .chooseResponsible,
#addTaskContainer .chooseResponsible {
	margin-right: 51px;
	display: inline-block;
}
