/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

/************* evidences **************/

#CommonListContainer .dottedLink,
#CommonListContainer .dottedLink:hover {
    color: #333;
    border-bottom: #333 1px dotted;
}

#CommonListContainer .dottedNumSubevidence {
    color: #333333;
    font-size: 11px;
    border-bottom: #000 1px dotted;
}

#CommonListContainer .signedTimeList .signedTime {
    border-top: #d1d1d1 1px solid;
    height: 32px;
    clear: both;
}

    #CommonListContainer .signedTimeList .signedTime.borderbott {
        border-bottom: #d1d1d1 1px solid;
    }

    #CommonListContainer .signedTimeList .signedTime:hover,
    #CommonListContainer .signedTimeList .signedTime.menuopen {
        background: #f2f2f2;
    }

    #CommonListContainer .signedTimeList .signedTime .check {
        float: left;
        width: 38px;
        height: 30px;
        margin-left: 5px;
    }

    #CommonListContainer .signedTimeList .signedTime .changeStatusCombobox {
        width: 38px;
        height: 22px;
        margin-top: 3px;
        text-align: center;
    }

#CommonListContainer .signedTimeList .check .evidenceProcess {
    margin-left: 10px;
    margin-top: -3px;
}

#CommonListContainer .signedTimeList .subevidence .check .evidenceProcess {
    margin-left: 1px;
    margin-top: -3px;
}

#CommonListContainer .signedTimeList .signedTime .check.priority0 {
    background: #f4f4f4;
}

#CommonListContainer .signedTimeList .signedTime .check.priority-1 {
    background: #c3c3c3;
}

#CommonListContainer .signedTimeList .signedTime .check.priority1 {
    background: #E46850;
}

#CommonListContainer .signedTimeList .signedTime .check input {
    display: inline-block;
    margin: 8px auto;
}

#CommonListContainer .signedTimeList .signedTime .evidencePlace {
    float: left;
    height: 30px;
    margin-left: 12px;
}

#CommonListContainer .signedTimeList .signedTime .signedTimeName {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    max-width: 840px;
}

#CommonListContainer .signedTimeList .signedTime .linkElement {
    text-decoration: none;
    white-space: nowrap;
    float: left;
    font-size: 12px;
    color: #333333;
    overflow: hidden;
    line-height: 30px;
    display: block;
    margin: 0px 10px 0px 10px;
}

#CommonListContainer .signedTimeList .signedTime .duration {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    max-width: 840px;
}

@media all and (max-width: 1650px) {
    #CommonListContainer .signedTimeList .signedTime .signedTimeName {
        max-width: 660px;
    }
}

@media all and (max-width: 1500px) {
    #CommonListContainer .signedTimeList .signedTime .signedTimeName {
        max-width: 560px;
    }
}

@media all and (max-width: 1400px) {
    #CommonListContainer .signedTimeList .signedTime .signedTimeName {
        max-width: 460px;
    }
}

@media all and (max-width: 1300px) {
    #CommonListContainer .signedTimeList .signedTime .signedTimeName {
        max-width: 360px;
    }
}

@media all and (max-width: 1200px) {
    #CommonListContainer .signedTimeList .signedTime .signedTimeName {
        max-width: 260px;
    }
}

@media all and (max-width: 1100px) {
    #CommonListContainer .signedTimeList .signedTime .signedTimeName {
        max-width: 160px;
    }
}

#CommonListContainer .signedTimeList .signedTime .signedTimeName a {
    color: #333333;
    font-weight: bold;
    line-height: 30px;
    font-size: 12px;
    overflow: hidden;
    padding-left: 1px;
    text-overflow: ellipsis;
    text-decoration: none;
}

    #CommonListContainer .signedTimeList .signedTime:hover .signedTimeName a,
    #CommonListContainer .signedTimeList .signedTime .signedTimeName a:hover {
        text-decoration: underline;
    }

#CommonListContainer .signedTimeList .signedTime .high_priority {
    background: url("../images/projects_entity_statuses.png") no-repeat scroll 0 -116px transparent;
    display: inline-block;
    float: left;
    height: 15px;
    margin-right: 4px;
    margin-top: 6px;
    width: 14px;
}

#CommonListContainer .signedTimeList .signedTime span.timeFrom {
    color: #333333;
    font-size: 12px;
    line-height: 30px;
    cursor: default;
}

    #CommonListContainer .signedTimeList .signedTime span.timeFrom.red {
        color: #cc3300;
    }

#CommonListContainer .signedTimeList .signedTime .dateAndTime {
    float: right;
    display: block;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
    text-align: center;
}

.dateAndTime_late {
    text-align: left;
}

#CommonListContainer .signedTimeList .signedTime .dateAndTime_late {
    float: left;
    width: 92px;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
    text-align: center;
}

#CommonListContainer .signedTimeList .signedTime .dateAndTime_active {
    float: left;
    width: 92px;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
}

#CommonListContainer .signedTimeList .signedTime .subevidencesCount {
    float: left;
    width: 72px;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
    margin-left: 15px;
}

    #CommonListContainer .signedTimeList .signedTime .subevidencesCount span.expand,
    #CommonListContainer .signedTimeList .signedTime .subevidencesCount span.collaps,
    #CommonListContainer .signedTimeList .signedTime .subevidencesCount span.add {
        color: #333333;
        font-size: 11px;
        line-height: 30px;
        cursor: pointer;
        margin-top: 10px;
        text-align: center;
    }

        #CommonListContainer .signedTimeList .signedTime .subevidencesCount span.expand span,
        #CommonListContainer .signedTimeList .signedTime .subevidencesCount span.collaps span {
            display: inline;
        }

    #CommonListContainer .signedTimeList .signedTime .subevidencesCount span.expand {
        background: no-repeat scroll right center transparent;
    }

    #CommonListContainer .signedTimeList .signedTime .subevidencesCount span.collaps {
        background: no-repeat scroll right center transparent;
    }

    #CommonListContainer .signedTimeList .signedTime .subevidencesCount span.add {
        padding: 0px;
        border-bottom: 1px dotted #333;
    }

    #CommonListContainer .signedTimeList .signedTime .subevidencesCount span.add {
        display: none;
    }

#CommonListContainer .signedTimeList .signedTime:hover .subevidencesCount span.add {
    display: inline;
}

#CommonListContainer .signedTimeList .signedTime.closed:hover .subevidencesCount span.add,
#CommonListContainer .signedTimeList .signedTime.closed .subevidencesCount span.expand,
#CommonListContainer .signedTimeList .signedTime.closed .subevidencesCount span.collaps {
    display: none;
}

#CommonListContainer .signedTimeList .signedTime .user {
    white-space: nowrap;
    float: right;
    font-size: 12px;
    color: #333333;
    width: 160px;
    overflow: hidden;
    line-height: 30px;
    cursor: pointer;
    display: inline-block;
}

    #CommonListContainer .signedTimeList .signedTime:hover .user span,
    #CommonListContainer .signedTimeList .signedTime .user span:hover {
        border-bottom: 1px dotted #000000;
    }

        #CommonListContainer .signedTimeList .signedTime:hover .user span.not-action,
        #CommonListContainer .signedTimeList .signedTime .user span.not-action:hover {
            border-bottom: 1px dotted transparent;
            cursor: default;
        }

    #CommonListContainer .signedTimeList .signedTime .user span b {
        color: #666;
    }

#othersListPopup .user, #othersListPopup .user span {
    width: 170px;
}

#CommonListContainer .signedTimeList .signedTime .other {
    font-size: 12px;
    font-size: 12px;
    color: #333333;
    overflow: hidden;
    padding-top: 6px;
    display: inline-block;
    cursor: pointer;
}

.studio-action-panel .dropdown-content .dropdown-item.user.not-action:hover,
.studio-action-panel .dropdown-content .dropdown-item.user.not-action:hover span {
    text-decoration: none;
    cursor: default;
}

#CommonListContainer .signedTimeList .signedTime:hover .other,
#CommonListContainer .signedTimeList .signedTime .other:hover {
    border-bottom: #333 1px dotted;
}

#CommonListContainer .signedTimeList .otherMargin {
    float: right;
    width: 160px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

#CommonListContainer .signedTimeList .signedTime .others {
    display: none;
}

#CommonListContainer .signedTimeList .signedTime.menuopen .entity-menu {
    background-position: center bottom;
}

.signedTimeList .nomenupoint {
    width: 16px;
    height: 16px;
    float: right;
    margin: 0 15px 0 15px;
}

#CommonListContainer .signedTimeList .signedTime .entity-menu {
    float: right;
    line-height: 30px;
    margin: 6px 8px 0 15px;
}

#CommonListContainer .evidenceSaving {
    display: none;
    height: 25px;
    line-height: 25px;
    padding-left: 25px;
    margin-top: 12px;
    background: url('../images/loader16.gif') no-repeat 0 3px;
}

#CommonListContainer .evidenceProcess {
    height: 25px;
    width: 16px;
    background-position: 0 10px;
}

#showNextevidenceProcess {
    display: none;
}

#CommonListContainer .signedTimeList .signedTime.closed .signedTimeName a {
    color: #83888d;
    font-weight: bold;
}

#CommonListContainer .signedTimeList .signedTime.closed .user,
#CommonListContainer .signedTimeList .signedTime.closed .user b,
#CommonListContainer .signedTimeList .signedTime.closed .other {
    color: #83888d;
}

#CommonListContainer .signedTimeList .signedTime.closed:hover .other,
#CommonListContainer .signedTimeList .signedTime.closed:hover .user span {
    border-bottom-color: #83888d;
}

#CommonListContainer .signedTimeList .signedTime.closed span.timeFrom {
    color: #83888d;
}

#moveevidencePanel .milestonesList {
    overflow-x: hidden;
    overflow-y: auto;
    height: 200px;
    border-top: 1px solid #D1D1D1;
}

    #moveevidencePanel .milestonesList .ms,
    #moveevidencePanel .milestonesList .milestonesButtons {
        border-bottom: 1px solid #D1D1D1;
        padding: 5px;
    }

.borderBase.ms {
    padding: 20px 30px 30px 20px;
    margin-bottom: 20px;
}

.evidenceTitls.ms {
    padding: 10px 0px;
    overflow-x: hidden;
}

.describe-text.ms {
    padding-bottom: 10px;
}

.st_separater {
    width: 100%;
    height: 0px;
}

.filterSeparater {
    width: 100%;
    height: 10px;
}

* + html .tl-combobox .combobox-container {
    position: relative;
}

* + html .tl-combobox .combobox-wrapper {
    position: static;
}

.popupContainerClass .infoPanel {
    margin: 0px;
}

.popupActionPanel {
    background: #fff;
    border: 1px solid #8E908F;
    display: none;
    min-width: 140px;
    padding: 7px 10px;
    position: absolute;
    z-index: 1000;
}

#projectSelector_switcher span {
    max-width: 188px;
    display: inline-block;
    overflow: hidden;
}

#emptyFilterScreen, #emptyevidenceListScreen {
    display: none;
}
/*---- status combobox ----*/
.signedTimeList .changeStatusCombobox {
    display: block;
    width: 35px;
    border: 1px solid transparent;
}

    .signedTimeList div.signedTime:hover .changeStatusCombobox.canEdit span.arrow,
    .signedTimeList .changeStatusCombobox.canEdit.selected span.arrow {
        background-position: -4px -58px;
    }

    .signedTimeList div.signedTime:hover .changeStatusCombobox.canEdit, .signedTimeList .changeStatusCombobox.canEdit.selected {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#cecece');
        background: -moz-linear-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
        background: -ms-linear-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
        background: -webkit-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
        background: -webkit-linear-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
        background: -o-linear-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
        border-color: #a8a8a8;
    }
