/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

/************* tasks **************/

#CommonListContainer .dottedLink,
#CommonListContainer .dottedLink:hover {
  color: #333;
  border-bottom: #333 1px dotted;
} 
#CommonListContainer .dottedNumSubtask {
    color: #333333;
    font-size: 11px;
    border-bottom: #000 1px dotted;
}

#CommonListContainer .taskList .task {
  border-top: #d1d1d1 1px solid;
  height:32px;
    clear: both;
}
#CommonListContainer .taskList .task.borderbott {
  border-bottom: #d1d1d1 1px solid;
}
#CommonListContainer .taskList .task:hover,
#CommonListContainer .taskList .task.menuopen {
  background: #f2f2f2;
}
#CommonListContainer .taskList .task .check {
  float:left;
  width:38px;
  height:30px;
  margin-left: 5px;
}
#CommonListContainer .taskList .task .changeStatusCombobox {  
  width:38px;
  height:22px;
  margin-top:3px;
  text-align: center;  
}
#CommonListContainer .taskList .check .taskProcess {
    margin-left: 10px;
    margin-top: -3px;
}
#CommonListContainer .taskList .subtask .check .taskProcess {
    margin-left: 1px;
    margin-top: -3px;
}
#CommonListContainer .taskList .task .check.priority0 {
  background:#f4f4f4;
}
#CommonListContainer .taskList .task .check.priority-1 {
  background:#c3c3c3;
}
#CommonListContainer .taskList .task .check.priority1 {
  background:#E46850;
}
#CommonListContainer .taskList .task .check input {
  display: inline-block;
  margin: 8px auto; 
}
#CommonListContainer .taskList .task .taskPlace {  
  float:left;
  height:30px;
  margin-left: 12px;
}
#CommonListContainer .taskList .task .taskName {
  float:left;
  overflow:hidden;
  white-space:nowrap;
  height:30px;
  line-height:30px;
  text-overflow: ellipsis;
  max-width: 840px;
}
@media all and (max-width: 1650px) {
    #CommonListContainer .taskList .task .taskName {
        max-width: 660px;
    }
}
@media all and (max-width: 1500px) {
    #CommonListContainer .taskList .task .taskName {
        max-width: 560px;
    }
}
@media all and (max-width: 1400px) {
    #CommonListContainer .taskList .task .taskName {
        max-width: 460px;
    }
}
@media all and (max-width: 1300px) {
    #CommonListContainer .taskList .task .taskName {
        max-width: 360px;
    }
}
@media all and (max-width: 1200px) {
    #CommonListContainer .taskList .task .taskName {
        max-width: 260px;
    }
}
@media all and (max-width: 1100px) {
    #CommonListContainer .taskList .task .taskName {
        max-width: 160px;
    }
}
#CommonListContainer .taskList .task .taskName a {
 color: #333333;
 font-weight:bold;
 line-height:30px; 
 font-size: 12px;
 overflow:hidden;
 padding-left:1px;
 text-overflow: ellipsis;
 text-decoration:none;  
}
#CommonListContainer .taskList .task:hover .taskName a,
#CommonListContainer .taskList .task .taskName a:hover {text-decoration:underline;}
#CommonListContainer .taskList .task .high_priority {
  background: url("../images/projects_entity_statuses.png") no-repeat scroll 0 -116px transparent;
    display: inline-block;
    float: left;
    height: 15px;
    margin-right: 4px;
    margin-top: 6px;
    width: 14px;
}
#CommonListContainer .taskList .task span.timeLeft {
 color:#333333;
 font-size:12px;
 line-height:30px;
 cursor: default;
}
#CommonListContainer .taskList .task span.timeLeft.red {color:#cc3300;}

#CommonListContainer .taskList .task .deadline {
  float: right;
  display: block;
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  height: 30px;
  text-align: center;
}
.deadline_late {
  text-align: left;
}
#CommonListContainer .taskList .task .deadline_late {
  float: left;
  width: 92px;
  overflow: hidden;
  white-space: nowrap;
  height: 30px;
  text-align: center;
}
#CommonListContainer .taskList .task .deadline_active {
  float: left;
  width: 92px;
  xoverflow: hidden;
  white-space: nowrap;
  height: 30px;
}
#CommonListContainer .taskList .task .subtasksCount {
  float: left;
  width: 72px;
  overflow: hidden;
  white-space: nowrap;
  height: 30px;
  margin-left: 15px
}
#CommonListContainer .taskList .task .subtasksCount span.expand, 
#CommonListContainer .taskList .task .subtasksCount span.collaps,
#CommonListContainer .taskList .task .subtasksCount span.add {
  color: #333333;
  font-size:11px;
  line-height:30px;  
  cursor: pointer;
  margin-top:10px; 
  text-align: center;  
}
#CommonListContainer .taskList .task .subtasksCount span.expand span, 
#CommonListContainer .taskList .task .subtasksCount span.collaps span {
  display:inline;
}
#CommonListContainer .taskList .task .subtasksCount span.expand {
  background: no-repeat scroll right center transparent;
}
#CommonListContainer .taskList .task .subtasksCount span.collaps {
  background: no-repeat scroll right center transparent;
}
#CommonListContainer .taskList .task .subtasksCount span.add {padding:0px;border-bottom: 1px dotted #333;}
#CommonListContainer .taskList .task .subtasksCount span.add {  
  display:none;
}
#CommonListContainer .taskList .task:hover .subtasksCount span.add {
  display:inline;
}
#CommonListContainer .taskList .task.closed:hover .subtasksCount span.add, 
#CommonListContainer .taskList .task.closed .subtasksCount span.expand, 
#CommonListContainer .taskList .task.closed .subtasksCount span.collaps { 
  display:none;
}
#CommonListContainer .taskList .task .user{
  white-space:nowrap;
  float:right; 
  font-size: 12px;
  color: #333333;
  width: 160px; 
  overflow:hidden;
  line-height:30px;
  cursor:pointer;
  display: inline-block;
}
#CommonListContainer .taskList .task:hover .user span,
#CommonListContainer .taskList .task .user span:hover {
    border-bottom: 1px dotted #000000;
}
#CommonListContainer .taskList .task:hover .user span.not-action,
#CommonListContainer .taskList .task .user span.not-action:hover {
    border-bottom: 1px dotted transparent;
    cursor: default;
}

#CommonListContainer .taskList .task .user span b {color: #666;}

#othersListPopup .user,  #othersListPopup .user span{
	width: 170px;
}
#CommonListContainer .taskList .task .other {
  font-size: 12px;
  font-size: 12px;
  color: #333333;
  overflow:hidden;
  padding-top: 6px;
  display: inline-block;
  cursor:pointer;
}
.studio-action-panel .dropdown-content .dropdown-item.user.not-action:hover,
.studio-action-panel .dropdown-content .dropdown-item.user.not-action:hover span {
    text-decoration: none;
    cursor: default;
}

#CommonListContainer .taskList .task:hover .other,
#CommonListContainer .taskList .task .other:hover{
    border-bottom: #333 1px dotted;
}

#CommonListContainer .taskList .otherMargin {
  float:right;
  width:160px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;	
}
#CommonListContainer .taskList .task .others {
  display:none;
}

#CommonListContainer .taskList .task.menuopen .entity-menu
{
   background-position: center bottom;
}

.taskList .nomenupoint {
	width:16px;
	height:16px;
	float:right;
    margin: 0 15px 0 15px;	
}

#CommonListContainer .taskList .task .entity-menu {
    float: right;
    line-height: 30px;
    margin: 6px 8px 0 15px;
}

#CommonListContainer .taskSaving {
  display:none;
  height:25px;
  line-height:25px;
  padding-left:25px;
  margin-top:12px;
  background: url('../images/loader16.gif') no-repeat 0 3px;
}
#CommonListContainer .taskProcess {
    height: 25px;
    width: 16px;
    background-position: 0 10px;
}
#showNextTaskProcess {display:none;}

#CommonListContainer .taskList .task.closed .taskName a {
  color:#83888d;
  font-weight:bold; 
}
#CommonListContainer .taskList .task.closed .user,
#CommonListContainer .taskList .task.closed .user b,
#CommonListContainer .taskList .task.closed .other{
  color:#83888d;
}
#CommonListContainer .taskList .task.closed:hover .other,
#CommonListContainer .taskList .task.closed:hover .user span {
	border-bottom-color: #83888d;
}
#CommonListContainer .taskList .task.closed span.timeLeft {
  color:#83888d;
}

#moveTaskPanel .milestonesList {
    overflow-x: hidden;
    overflow-y: auto;
    height:200px;
    border-top: 1px solid #D1D1D1;
}

#moveTaskPanel .milestonesList .ms,
#moveTaskPanel .milestonesList .milestonesButtons {
    border-bottom: 1px solid #D1D1D1;
    padding: 5px;
}

.borderBase.ms {padding:20px 30px 30px 20px;margin-bottom:20px;}
.taskTitls.ms {padding:10px 0px;overflow-x: hidden;}
.describe-text.ms {padding-bottom:10px;}

.st_separater {
  width:100%;
  height:0px;
}
.filterSeparater {
  width:100%;
  height:10px;
}

*+html .tl-combobox .combobox-container {
    position: relative;
}
*+html .tl-combobox .combobox-wrapper {
    position: static;
}

.popupContainerClass .infoPanel {
  margin:0px;
}
.popupActionPanel {
  background: #fff;
  border: 1px solid #8E908F;
  display: none;
  min-width: 140px;
  padding: 7px 10px;
  position: absolute;
  z-index:1000;
}

#projectSelector_switcher span {
	max-width: 188px;
	display:inline-block;
  overflow: hidden;
}

#emptyFilterScreen, #emptyTaskListScreen
{
    display:none;
}
/*---- status combobox ----*/
.taskList .changeStatusCombobox
{
	display: block;
	width: 35px;
	border: 1px solid transparent;
}

.taskList .changeStatusCombobox.canEdit
{
	border: 1px solid  #d1d1d1;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
}

.taskList .changeStatusCombobox.canEdit span.arrow {
    background: url('../images/small-icons.png') no-repeat -4px -74px transparent;
    height: 7px;
    width: 7px;
    display: inline-block;
    margin: 0 4px 4px 1px;
    *inline:inline;
    *zoom: 1;
}
    .taskList div.task:hover .changeStatusCombobox.canEdit span.arrow,
    .taskList .changeStatusCombobox.canEdit.selected span.arrow
    {
        background-position: -4px -58px;
    }
.taskList div.task:hover .changeStatusCombobox.canEdit, .taskList .changeStatusCombobox.canEdit.selected
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#cecece');
	background:-moz-linear-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
	background:-ms-linear-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
    background: -webkit-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
	border-color: #a8a8a8;
}

.taskList .changeStatusCombobox.noEdit
{
	background-image: none;
	background-color: transparent;
	border: 1px solid transparent;
}

.taskList .changeStatusCombobox span
{
	display: inline-block;
    margin: 3px 0 0 2px;
	width: 16px;
	height: 16px;
	*inline:inline;
    *zoom: 1;
}

.taskList .changeStatusCombobox .open,
.taskList .changeStatusCombobox .overdue,
.taskList .changeStatusCombobox .closed 
{
	background: url('../images/projects_entity_statuses.png') no-repeat;
    background-position: 0 -60px;
}

.taskList .changeStatusCombobox .closed 
{
	background-position: 0 -80px;
}

#remindAboutTask .containerBodyBlock {text-align: center;}

