﻿.evidenceTitle .title {
    text-align: center;
    vertical-align: middle;
    margin: 1em 0 0.5em 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    font-size: 36px;
    line-height: 40px;
    padding: 15px 15px 15px 15px;
    color: #355681;
    box-shadow: inset 0 0 0 1px rgba(53,86,129, 0.4), inset 0 0 5px rgba(53,86,129, 0.5), inset -285px 0 35px white;
    border-radius: 0 10px 0 10px;
}


/*** Table Styles **/


.evidenceContent tr {
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.evidenceContent td:first-child {
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    color: #355681;
}

.evidenceContent td:last-child {
    border-bottom: none;
}

.evidenceContent td:first-child::after {
    content: ":";
}

.evidenceContent td {
    background: #FFFFFF;
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    /*text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);*/
}



/*selection dropdown*/
.evidenceDropdown {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 28px;
    width: 150px;
    background: #f2f2f2;
    border: 1px solid;
    border-color: white #f7f7f7 whitesmoke;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.st-headerLeft {
    text-align: left;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
}

.evidenceContent > div {
    margin-bottom: 10px;
}

.st-fieldRight {
    font-size: 15px;
}

.STComboBox {
    width: 150px;
    max-width: 150px;
    height: 23px;
}

.inputTitleContainer {
    width:500px;
}
