/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

.pm-projectTeam-projectLeaderCard
{
	padding: 8px;
	width: 360px;
	border: solid 1px #D1D1D1;
}
.pm-projectTeam-projectLeaderCard .managerAvatar {
    float: left;
}
.pm-projectTeam-projectLeaderCard .manager-info {
    float: left;
    margin-left: 16px;
    max-width: 262px;
    overflow: hidden;
}
.pm-projectTeam-projectLeaderCard .manager-info div {
    margin-top: 8px;
    text-overflow: ellipsis;
}
.pm-projectTeam-projectLeaderCard .manager-info div:first-child {
    margin-top: 0;
}
.pm-projectTeam-h-line
{
	background-color:#D1D1D1;
    height:1px;
    line-height:1px;
	margin-top:0px;
	margin-bottom:0px;
}
.pm-projectTeam-userContainer
{
    padding: 20px 0px;
}
.pm-projectTeam-userInfoContainer
{
    width: 33%;
    float: left;
    overflow: hidden;
}

.pm-projectTeam-modulePermissionOn,
.no-access .pm-projectTeam-modulePermissionOn,
.pm-projectTeam-participantContainer.disable .pm-projectTeam-modulePermissionOn
{
    background: url("../images/common-icons.png") no-repeat 0 -45px;
    padding: 5px 0 5px 23px;
    cursor:pointer;
}

.pm-projectTeam-participantContainer.disable .pm-projectTeam-modulePermissionOn
{
    cursor: default;
}
.pm-projectTeam-modulePermissionOn span
{
	border-bottom: 1px dotted #000;
	color: #000;
	margin-right: 8px;
}
.pm-projectTeam-modulePermissionOff
{
	background: url("../images/common-icons.png") no-repeat 0 -22px;
    padding: 5px 0 5px 20px;
    cursor:pointer;    
}
.pm-projectTeam-modulePermissionOff span
{
    border-bottom: 1px dotted #333;
	color: #333;
	margin-right: 8px;
}
.pm-projectTeam-modulePermissionOff.no-dotted
{
    cursor: default;
}
.pm-projectTeam-modulePermissionOff.no-dotted span
{
    border-color: transparent;
}
.no-access .pm-projectTeam-modulePermissionOn span,
.pm-projectTeam-participantContainer.disable .pm-projectTeam-modulePermissionOn span
{
	color: #333;
	margin-right: 8px;
}
.no-access .pm-projectTeam-modulePermissionOff,
.pm-projectTeam-participantContainer.disable .pm-projectTeam-modulePermissionOff
{
    padding: 5px 0 5px 20px;
    cursor: default;
}
.no-access .pm-projectTeam-modulePermissionOn span
.pm-projectTeam-participantContainer.disable .pm-projectTeam-modulePermissionOff span
{
	color: #333;
	margin-right: 8px;
}
.no-access .pm-projectTeam-modulePermissionOn,
.no-access .pm-projectTeam-modulePermissionOff {
    cursor: default;
}
.no-access .pm-projectTeam-modulePermissionOn span,
.no-access .pm-projectTeam-modulePermissionOff span,
.pm-projectTeam-participantContainer.disable .pm-projectTeam-modulePermissionOff span,
.pm-projectTeam-participantContainer.disable .pm-projectTeam-modulePermissionOn span {
    border: none;
}

#team_container {
    color: #333;
    border-collapse: collapse;
    width: 100%;
}
.pm-projectTeam-participantContainer > td {
    border-bottom: 1px solid #D1D1D1;
    vertical-align: middle;
    overflow: hidden;
    padding: 8px 0;
}
.pm-projectTeam-participantContainer.open,
.pm-projectTeam-participantContainer:hover{
    background-color: #f2f2f2;
}
.pm-projectTeam-participantContainer .user-info {    
    overflow: hidden;
    padding: 8px;
}
.pm-projectTeam-participantContainer .user-info .user-name {
    font-size: 14px;
    font-weight:bold;
    color: #333;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
 }
.pm-projectTeam-participantContainer .user-info .user-name.without-title {
    margin-top: 6px;
 }
 .pm-projectTeam-participantContainer .user-info a.user-name:hover,
 .pm-projectTeam-participantContainer:hover .user-info a.user-name {
     text-decoration: underline;
 }

 .pm-projectTeam-participantContainer .user-info .pm-projectTeam-userPhotoContainer {
      margin-right: 8px;
      position: relative;
 }
 .pm-projectTeam-participantContainer .user-info .status-blocked {
    display: block;
    height: 16px;
    width: 16px;
    left: 8px;
    position: absolute;
    top: 9px;
    background: url("../images/common-icons.png") no-repeat -2px -74px;
}
.pm-projectTeam-participantContainer .user-info .role {
    left: -2px;
    position: absolute;
    bottom: -2px;  
}

 .pm-projectTeam-participantContainer .user-info .pm-projectTeam-userPhotoContainer,
 .pm-projectTeam-participantContainer .user-info .user-info-container {
     float: left;
 }
 .pm-projectTeam-participantContainer .user-info span {
     display: block;
 }
 .pm-projectTeam-participantContainer .right-settings {
    text-align: center;
}
.pm-projectTeam-participantContainer .right-settings div {
    margin: 0 auto;
}
.pm-projectTeam-participantContainer .menupoint-container {
    width: 30px;
}
/*----action panel--*/
.pm-projectTeam-participantContainer .entity-menu{
    margin: 0 8px;
}

.pm-projectTeam-participantContainer.open .entity-menu
{	
	background-position: center bottom;
}
#userActionPanel {
    width: 165px;
}
@media all and (max-width: 1200px) {
    .pm-projectTeam-participantContainer .splitter {
        display:none;
    }
}