/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

.mainContainerClass > .containerHeaderBlock table td > div:last-child {
    display: none;
}

#pageHeader #TemplatesComboboxContainer {
    float: right;
    padding-top: 4px;
    margin-right: 5px;
}

#pageHeader #TemplatesComboboxContainer .viewSwitcherItem {
    padding: 0px;
    margin-right: 4px;
}

.dottedHeader .headerPanel {
    display: inline-block;
    border-bottom: 1px dotted #3C4046;
    cursor: pointer;
}

#projectTitleContainer .inputTitleContainer,
#projectTagsContainer .dottedHeaderContent {
    width: 500px;
}

#projectTagsContainer input {
    width: 100%;
}

#projectDescriptionContainer textarea {
    resize: vertical;
}

#projectManagerContainer .headerPanelSmall,
#projectTeamContainer .headerPanelSmall{
    margin-bottom:15px;
}

#projectManagerContainer .notifyManagerContainer {
    padding-top: 10px;
}

#notifyManagerCheckbox {
    margin: 3px 0px 0px;
    padding: 0px;
    float: left;
}

#projectManagerContainer label {
    padding-left: 5px;
}

#projectStatusContainer {
    margin-top: 28px;
    margin-bottom: 24px;
}

#projectStatusContainer .headerPanel {
    margin-bottom: 7px;
}

#projectTeamContainer {
    margin-bottom: 19px;
}

#projectParticipantsContainer {
    display: none;
    overflow: auto;
    margin-bottom: 20px;
}
    #projectParticipantsContainer .items-display-list {
        margin-top: 15px;
    }
#projectContactsContainer {
    margin-bottom: 20px;
}

    #projectContactsContainer.border-bottom {
        border-bottom: 1px solid #D1D1D1;
    }

    #projectContactsContainer .no-linked-contacts {
        display: none;
    }

    #projectContactsContainer .headerPanelSmall {
        margin-bottom: 10px;
    }

    #projectContactsContainer .crm-contact {
        border-top: 1px solid #D1D1D1;
        padding: 9px 20px;
    }

#projectTagsContainer .describe-text {
    margin-bottom: 12px;
}

#projectVisibilityContainer,
#projectFollowContainer,
#projectTagsContainer {
    margin-bottom: 22px;
}

#projectPrivacyCkeckbox,
#followingProjectCheckbox {
    margin: 3px 0px 0px;
    padding: 0px;
    float: left;
}

#projectVisibilityContainer label,
#projectFollowContainer label {
    padding-left: 5px;
}

#projectActionsContainer #projectDeleteButton {
    margin-right: 0px;
    float: right;
    line-height: 17px;
}

.checkboxPrivateProj {
    margin-top: 15px;
}

.HelpCenterSwitcher {
    margin-left: 5px;
}

#projectManager {
    display: none;
}
