/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

.generated-report-filter-container #generateNewReport, .generated-report-buttons {
    visibility: hidden;
}
.generated-report-container.borderBase {
    border: none;
}
.generated-report-container a 
{
	color:#000000 !important;
	font-size:12px;
	font-weight:normal;
	text-decoration : none !important;
}

.sortable
{
	border-collapse: collapse;
	width: 100%;
}
.sortable thead th
{
	cursor: pointer;
	cursor: hand;
	color: #000000;
	font-size: 12px;
}
.generated-report-container .sortable tbody td
{
	text-align: left;
	border-left: none;
	border-right: none;
	vertical-align: middle;
}

.generated-report-container .sortable tr:last-child td,
.generated-report-container .pm-tablebase tr:last-child td {
    border-bottom: medium none;
}

.report-tableColumnHeader
{
	border-bottom: none;
	color: #333;
	text-decoration:none;
}

/********heders**********/
a.report-big-header,
a.report-middle-header,
a.report-small-header,
a.report-big-header:visited,
a.report-middle-header:visited,
a.report-small-header:visited, 
a.report-big-header:hover,
a.report-middle-header:hover,
a.report-small-header:hover,
a.report-big-header:active,
a.report-middle-header:active,
a.report-small-header:active   {
    font-weight: bold;
    color: #333;
    text-decoration:none;
}

a.report-big-header:hover,
a.report-middle-header:hover,
a.report-small-header:hover {
    text-decoration:undeline;
}

a.report-big-header {
    font-size: 16px;
}
a.report-middle-header {
    font-size: 14px;
}
/*----*/

.borderBase 
{
	border:1px solid #333;
}

.mainContainerClass
{
    border: none !important;
}
.mainPageLayout
{
    margin: 0 !important;
    width: 100% !important;
}
.gray-text, .red-text
{
	color:#333 !important;
}


