/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

/*----left menu-----*/
.mainPageTable .reports-menu-container {
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 16px 24px;
    width: 208px;
    background-color: #F2F2F2;
}
.reports-menu-container .reports-category {
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
}
.reports-menu-container .reports-category.templates {
    margin-top: 26px;
}
.reports-menu-container .reports-category.templates.display-none {
    display: none;
}
.reports-menu-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 8px;
}
.reports-menu-container ul li {
    padding: 4px 0 5px;
}
.reports-menu-container ul .menu-report-name{
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.reports-menu-container ul .menu-report-name:hover {
    text-decoration: underline;
}
.reports-menu-container ul .menu-report-name.active,
.reports-menu-container ul .menu-report-name.active:hover {
    color:#116D9D;
    cursor: default;
    text-decoration: none;
}

/*-----report view------*/
.report-name {
    margin-top: 13px;
    font-size: 19px;
}
.report-description {
    display: inline;
    height: 180px;
}
.report-description > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-style: italic;
}
.report-description > ul li {
    display: block;
    margin-top: 17px;
}
.option-container {
    overflow: hidden;
}
.option-container input,
.popup-checkbox-container input {
    margin-left: 0;
    margin-bottom: 0;
}
.option-container label,
.popup-checkbox-container label {
    vertical-align: top;
}
/*----template popup------*/
.template-params,
.popup-checkbox-container,
.variant-conteiner {
    margin-top: 13px;
}

.template-params .period-cbox {
    width: 180px;
}
.variant-conteiner .comboBox {
    width: 70px;
}
.variant-conteiner #week.comboBox {
    width: 130px;
}
.variant-conteiner #week.comboBox,
.variant-conteiner #month.comboBox {
    margin-right: 5px;
}
/*-----template view------*/
.input-name-container {
    margin-top: 13px;
}
.input-name-container input {
    font-size: 19px;
    width: 60%;
    height: 29px;
}
#removeReport {
    float: right;
}

/*----report filter----*/
.report-filter-container {
    clear: both;
    margin-top: 9px;
}
.report-filter-container select {
    max-width: 120px;
}
.view-task-block .task-option-header {
    font-size: 17px;
    margin-bottom: 0;
}

/* filter item container */
.filter-item-container {
    float: left;
    margin-right: 24px;
    margin-top: 17px;
}
.filter-option-container {
    margin-top:26px;
}
.filter-item-container .describe-text {
    display: block;
    float: left;
}
.filter-option-container label, 
.filter-item-container label {
    vertical-align: top;
}
#otherInterval{
    display:inline-block;
}
#otherInterval input {
    display: block;
    position: relative;
    margin-top: -6px;
    float: left;
}
#otherInterval .splitter-input {
    float: left;
    width: 8px;
    height: 5px;
}

.report-inline-container {
    display: inline-block;
}
/*--generated report---*/

.generated-report-container {
    width: 950px;
    padding: 24px;
    margin: 0 auto;
}
.generated-report-header-container {
    overflow: hidden;
}
.generated-report-header-container .report-name {
    float: left;
    margin-top: 0;
}
.generated-report-header-container .generated-report-buttons {
    float: right;
}
.generated-report-header-container .generation-date {
    color: #83888D;
}
.generated-report-filter-container .report-filter-container {
    margin-top: 0;
}
.generated-report-filter-container{
    margin-bottom: 24px;
    margin-top: 5px;
}
#exportPopup #neverShowPopup {
    float: left;
}
#exportPopup label {
    float: left;
    padding-left: 5px;
    margin-top: 1px;
}
#exportPopup .middle-button-container {
    overflow: hidden;
}
.neverShowContainer {
    margin-top: 24px;
}
/*---headers----*/

a.report-big-header,
a.report-middle-header,
a.report-small-header,
a.report-big-header:visited,
a.report-middle-header:visited,
a.report-small-header:visited, 
a.report-big-header:hover,
a.report-middle-header:hover,
a.report-small-header:hover,
a.report-big-header:active,
a.report-middle-header:active,
a.report-small-header:active   {
    font-weight: bold;
    color: #333;
    text-decoration:none;
}

a.report-big-header:hover,
a.report-middle-header:hover,
a.report-small-header:hover {
    text-decoration:undeline;
}

a.report-big-header {
    font-size: 16px;
}
a.report-middle-header {
    font-size: 14px;
}

/*---links----*/

#reportBody tr td a:link,
#reportBody tr td a:visited,
#reportBody tr td a:hover,
#reportBody tr td a:active {
    color: #333;
    outline: none;
}
#reportBody tr td a:link,
#reportBody tr td a:visited,
#reportBody tr td a:active {
    text-decoration: none;
}

#reportBody tr td a:hover {
    text-decoration: underline;
}

/*-----report table---*/
.generated-report-container .sortable
{
	border-collapse: collapse;
	width: 100%;
}
.generated-report-container .sortable thead span {
    display: inline-block;
}
.generated-report-container .sortable td
{
	text-align: left;
	border-left: none;
	border-right: none;
	vertical-align: middle;
}

.pm-tablebase.no-sorted thead td {
    color:#333;
    border: none;
}

.generated-report-container .sortable tr:last-child td,
.generated-report-container .pm-tablebase tr:last-child td {
    border-bottom: medium none;
}

.report-tableColumnHeader
{
	border-bottom: 1px dotted;
	color: #333;
	text-decoration:none;
	cursor:pointer;
	
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    MozUserSelect:none
}

/*---sort icon---*/
.generated-report-container #sorttable_sortfwdind,
.generated-report-container #sorttable_sortrevind {
    background: url("../images/sort-btn.gif") 0 center no-repeat;
    width: 16px;
    height: 16px;
    line-height: 16px;
    cursor:pointer;
    vertical-align: bottom;
    margin-left: 3px;
    color: transparent;
}
.generated-report-container #sorttable_sortfwdind {
    background-position: -32px center;
}
.generated-report-container #sorttable_sortrevind {
    background-position: -16px center;
}
#reportBody.noContentBlock {
    display: block;
}
