/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

/*---table---*/

.pm-tablebase
{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.pm-tablebase thead td,
.pm-tablebase thead th
{
    text-align: left;
    color: #82878D;
    font-size: 12px;
}
.pm-tablebase tbody td
{
    text-align: left;
    border-left: none;
    border-right: none;
    vertical-align: middle;
}
/*----total time-----*/
.total-time-forFilter {
    font-size: 12px;
    visibility: hidden;
    margin-top: -8px;
    margin-bottom: 8px;
}
.total-time-forFilter.float-none {
    float: none;
}
.total-time-forFilter .total-count,
.total-time-forFilter .billed-count {
    margin-left: 24px;
}

#timeSpendsList {
    margin: 0 0 15px 0;
}

#deselectAllTimers {
    margin-left:10px;
}
#timeTrakingGroupActionMenu
{
    clear:left;
}
/*//////////////////////////////////////*/
/*-------temporary for test-------*/
/*//////////////////////////////////////*/
.pm-ts-statusColumn, .pm-ts-statusCheckboxColumn{
    padding: 0 0 0 5px;
    width: 45px;
}

.pm-ts-statusCheckboxColumn { width:20px;}

.timeSpendRecord .changeStatusCombobox{
	display: block;
	width: 35px;
	border: 1px solid transparent;
}

.timeSpendRecord .changeStatusCombobox.canEdit{
	border: 1px solid  #d1d1d1;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
}

.timeSpendRecord .changeStatusCombobox.canEdit span.arrow {
    background: url('../images/small-icons.png') no-repeat -4px -74px transparent;
    height: 7px;
    width: 7px;
    display: inline-block;
    margin: 0 4px 4px 1px;
    *inline:inline;
    *zoom: 1;
}
.timeSpendRecord .check {
  float:left;
  width:38px;
  height:30px;
  margin-left: 5px;
}
.timeSpendRecord .changeStatusCombobox {  
  width:38px;
  height:22px;
  margin-top:3px;
  text-align: center;  
}

.timeSpendRecord:hover .changeStatusCombobox.canEdit,
.timeSpendRecord .changeStatusCombobox.canEdit.selected
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#cecece');
	background:-moz-linear-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
	background:-ms-linear-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
    background: -webkit-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(bottom, #cecece, #f6f6f6) repeat scroll 0 0 transparent;
	border-color: #a8a8a8;
}
.timeSpendRecord:hover .changeStatusCombobox.canEdit span.arrow,
.timeSpendRecord .changeStatusCombobox.canEdit.selected  span.arrow {
    background-color: transparent;
    background-position: -4px -58px;
}

.timeSpendRecord .changeStatusCombobox.noEdit{
	background-image: none;
	background-color: transparent;
	border: 1px solid transparent;
}

.timeSpendRecord .changeStatusCombobox span{
	display: inline-block;
    margin: 3px 0 0 2px;
	width: 16px;
	height: 16px;
	*inline:inline;
    *zoom: 1;
}

.timeSpendRecord .changeStatusCombobox span
{
    background: url('../images/projects_entity_statuses.png') no-repeat;
}
.timeSpendRecord .changeStatusCombobox .not-chargeable{
    background-position: 0 2px;
}
.timeSpendRecord .changeStatusCombobox .not-billed{
    background-position: 0 -19px;
}
.timeSpendRecord .changeStatusCombobox .billed {
	background-position: 0 -40px;
}
/*//////////////////////////////////////*/

#timeSpendsList .entity-menu {
	margin: 0;
}

#timeSpendsList .entity-menu.show,
#timeSpendsList .timeSpendRecord:hover .entity-menu.show,
#timeSpendsList .timeSpendRecord .entity-menu.show:hover
{
    background-position: center bottom;
}
#timeSpendsList thead td {
    color: #82878D;
    padding-bottom: 5px;
}
#timeSpendsList tbody {
    border-top: 1px solid #D1D1D1;
}
#timeSpendsList tbody td {
    color:#333;
    height: 49px;
}
#timeSpendsList .timeSpendRecord:hover,
#timeSpendsList .timeSpendRecord.checked-row:hover,
#timeSpendsList .timeSpendRecord.menuopen
 {
    background : #E5E5E5;
}
#timeSpendsList .timeSpendRecord.checked-row{
    background: #f2f2f2;
}
#timeSpendsList .pm-ts-noteColumn span
{
  color:#83888d;
  overflow:hidden;
  text-overflow: ellipsis;
  display: block;
}
#timeSpendsList .pm-ts-hoursColumn,
#timeSpendsList .pm-ts-dateColumn,
#timeSpendsList .pm-ts-timestartedColumn
 {
    padding: 0 10px;
    width: 75px;
}
#timeSpendsList .pm-ts-personColumn {
    width: 170px;
}
#timeSpendsList .pm-ts-noteColumn a {
  color: #333;
  display:block;
  font-weight:bold;
  overflow: hidden;
  text-decoration:none;
  text-overflow: ellipsis;
  width: 93%;
}
#timeSpendsList .timeSpendRecord:hover .pm-ts-noteColumn a,
#timeSpendsList .pm-ts-noteColumn a:hover {
    text-decoration:underline;
}
#timeSpendsList .pm-ts-personColumn span
{  
  max-width: 160px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;  
}
#timeSpendsList.forProject .pm-ts-personColumn span {
    cursor:pointer;
    border-bottom: 1px dotted transparent;
}
#timeSpendsList.forProject .timeSpendRecord:hover .pm-ts-personColumn span,
#timeSpendsList.forProject .pm-ts-personColumn span:hover
{
  border-bottom: 1px dotted #333;    
}
#timeSpendsList.forProject .pm-ts-personColumn span.not-action,
#timeSpendsList.forProject .pm-ts-personColumn span.not-action:hover,
#timeSpendsList.forProject .timeSpendRecord:hover .pm-ts-personColumn span.not-action {
    border: none;
    cursor: default;
}
#timeSpendsList .pm-ts-personColumn span b
{
  color:#666;   
}
#timeSpendsList .pm-ts-actionsColumn
{
    width: 32px;
}
#emptyScreenForTimers {
	display: none;
}

#showNext {
  color:rgb(156,160,164);
  text-decoration:underline;
  font-weight: bold;
  margin:14px 0 0 66px;
  cursor: pointer;
  display: none;  
}
#showNext:hover {
  color: #1A6DB3;
}
#showNextProcess {display:none;}
#showNextProcess.taskProcess {
  height:25px;
  margin:14px 0 0 66px;
  background-position:2px 7px;
}

/*-----popup edit timer------*/

#timeTrakingPopup .header-base {
	width: 500px;
	overflow: hidden;
}
#timeTrakingPopup .block-cnt-splitter .textEdit {
	width: 30px;
}

#timeTrakingPopup .headerPanelSmall {
    margin-top: 1px;
}

#timeTrakingPopup .addLogPanel-infoPanel
{
    padding: 7px 0 8px 24px;
    margin-bottom: 16px;
    background: url("../images/timer-icons.png") no-repeat 0 -95px;
}
#timeTrakingPopup #timeDescription {
    width: 99%;
    min-height: 70px;
    resize: none;
}
#timeTrakingPopup .block-cnt-splitter #timeTrakingErrorPanel {
    padding: 1px 0;
    position: absolute;
}

#groupActionContainer {
    display: none;
}