/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

.greating-modules-block {
	margin-top: 22px;
    text-align: center;
    padding-bottom: 30px;

    .docs-default-page {
	    display: inline-block;
	    margin: 38px 55px 53px;
	    text-align: left;
	    width: 630px;

		.title {
		    display: block;
		    margin: 0 0 11px 0;
		    padding:170px 0 0 15px;

		    a {
		    	font-size: 36px;
		    }
		}
		.description {
			display: block;
		    line-height: 20px;
		    padding-left: 15px;
		}
		.docs-default-logo {
		    background: no-repeat url('default/images/documents.png') top center transparent;
		    height: 323px;
		    float: left;
		    width: 330px;

		    &:hover + .title a {
			    font-weight: normal;
			    text-decoration: underline;
			}
		}
	}

	.default-list-products {
	    display: inline-block;
	    margin-bottom: 25px;

	    .product {
		    float: left;
		    margin-right: 80px;
		    width: 100px;
		
			.image-link:hover + h2 a {
			    text-decoration: underline;
			}

			img {
			    border: none;
			    display: block;
			    width: auto;
			}
			.title {
			    text-align: center;
			}

			.description {
				clear: right;
			    display: block;
			    line-height: 20px;
			    margin: 10px 0 0 136px;
			}
			.links {
			    color: #333;
			    display: inline-block;			    
			    margin: 5px 0;
		    }
		}
	}
}

@media all and (max-width: 1200px) {
    .greating-modules-block .docs-default-page {
        margin: 15px 55px 10px;
    }
}