/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

/*******************************************************************************
    Personal Page
*******************************************************************************/

.studio-top-panel {

    &.try-welcome-top {
        height: 80px;

        & > ul {
            width: 960px;
            margin: 0 auto;
        }

        .studio-top-logo {
            margin-top: 12px;
        }
    }
}

.personal-page-header {
    background-color: #e0e0e0;
    margin: 0 0 34px 0;
    padding: 24px;
    
    h1 {
        color: #3d4a6b;
        font-size: 32px;
        font-weight: normal;
        margin: 0 auto;
        width: 960px;
    }
}
.personal-page-container {
    width: 960px;
    margin: 0 auto 100px;

    &, ul, p, a {
        font-size: 14px;
        line-height: 22px;
    }

    h2 {
        font-size: 16px;
        margin: 25px 0 0 0;
    }

    &.__terms {

        h2 {
            font-size: 14px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            &.terms-page-content {
                margin-bottom: 50px;
            }
        }
    }
}

.mainPageLayout {
    padding: 0;
}
