﻿<%@ Control Language="C#" AutoEventWireup="true"%>
<%@ Assembly Name="ASC.Web.Core" %>
<%@ Assembly Name="ASC.Web.Projects" %>
<%@ Import Namespace="ASC.Web.Projects.Classes" %>

 
 <link href="<%= PathProvider.GetFileStaticRelativePath("common.css") %>" type="text/css" rel="stylesheet"/>
 <link href="<%= PathProvider.GetFileStaticRelativePath("allprojects.css") %>" type="text/css" rel="stylesheet" />
 <link href="<%= PathProvider.GetFileStaticRelativePath("projectaction.css") %>" rel="stylesheet" type="text/css"/>
 <link href="<%= PathProvider.GetFileStaticRelativePath("milestones.css") %>" type="text/css" rel="stylesheet"/>
 <link href="<%= PathProvider.GetFileStaticRelativePath("tasks.css") %>" type="text/css" rel="stylesheet" />
<!-- #region hoang -->

 <link href="<%= PathProvider.GetFileStaticRelativePath("evidenceStyle.css") %>" type="text/css" rel="stylesheet" />
 <link href="<%= PathProvider.GetFileStaticRelativePath("jquery.timepicker.css") %>" type="text/css" rel="stylesheet" />
<!-- #endregion -->

 <link href="<%= PathProvider.GetFileStaticRelativePath("alltasks.css") %>" type="text/css" rel="stylesheet" />
 <link href="<%= PathProvider.GetFileStaticRelativePath("allevidences.css") %>" type="text/css" rel="stylesheet" />
 <link href="<%= PathProvider.GetFileStaticRelativePath("discussions.css") %>" type="text/css" rel="stylesheet" />
 <link href="<%= PathProvider.GetFileStaticRelativePath("timetracking.css")%>" rel="stylesheet" type="text/css" />
 <link href="<%= PathProvider.GetFileStaticRelativePath("projectteam.css") %>" rel="stylesheet" type="text/css" />
 <link href="<%= PathProvider.GetFileStaticRelativePath("projecttemplates.css") %>" type="text/css" rel="stylesheet"/>
 <link href="<%= PathProvider.GetFileStaticRelativePath("import.css") %>" type="text/css" rel="stylesheet" />
 <link href="<%= PathProvider.GetFileStaticRelativePath("reports.css") %>" rel="stylesheet" type="text/css" />

