/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

#account_container {
    input[type="text"], 
    input[type="email"], 
    input[type="password"] {
        margin-bottom: 0;
        display: inline-block;
        width: 217px;
    }

    select {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        text-transform: none;
        color: inherit;
        font: inherit;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    td {
        padding-bottom: 10px;
    }

    td:nth-child(2) {
        padding-left: 20px;
    }

    .header-server {
        height: 24px;
    }

    .form-control {
        display: inline-block;
        height: 24px;
        background-color: #fff;
        background-image: none;
        border: solid 1px #c7c7c7;
        &:focus {
            outline: none;
            border: solid 1px #3186af;
        }
        &:disabled {
            background-color: #efefef;
            color: #666562;
        }
    }

    input.mini,
    select.mini {
        margin-right: 5px;
    }

    input.mini {
        width: 52px;
    }

    select.mini {
        width: 58px;
    }

    .authenticationTypeBox {
        width: 158px;
    }

    .receive-server {
        input {
            width: 152px;
            display: inline-block;
        }
    }

    .portTitle, .authTitle {
        display: inline-block;
    }

    .authTitle {
        margin-left: 30px;
    }

    .encryptionTypeSelect {
        width: 223px;
    }

    .mail-limit {
        display: inline-block;
        width: 100%;
        padding-top: 11px;
    }
}

#account_simple_container {
    height: 180px;

    table {
        display: inline-block;
        height: inherit;
        overflow: hidden;
    }

    td {
        vertical-align: top;
    }

    td:first-child {
        max-width: 334px; 
        padding-right: 24px;

        input[type="text"], 
        input[type="email"], 
        input[type="password"] {
            margin-bottom: 10px;
            width:327px;
        }
    }

    td:nth-child(2) {
        width: 1px; 
        border-left: solid 1px #D1D1D1;
    }

    td:nth-child(3) {
        max-width: 92px; 
        padding-left: 24px;

        #oauth_frame_blocker {
            position: absolute;
            display: none;
            width: 90px;
            height: 90px;
            opacity: 0.1; 
            background-color: aliceblue;
        }

        #ifr {
            border: none; 
            width: 100%; 
            height: 100%; 
            overflow: hidden; 
            filter: alpha(opacity=100);
        }
    }
}

.password-view {
    float: right;
}

.off {
    visibility: hidden;
}