/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

@import "settings.less";

.attachment_drag_highlight {
  background-color: #E0FFE0;
}

.progress-color {
  background: #439CCD;
  background: linear-gradient(top,#57aedf,#439CCD 50%,#3B95C6 51%,#237faf);
  background: -o-linear-gradient(top,#57aedf,#439CCD 50%,#3B95C6 51%,#237faf);
  background: -moz-linear-gradient(top,#57aedf,#439CCD 50%,#3B95C6 51%,#237faf);
  background: -webkit-linear-gradient(top,#57aedf,#439CCD 50%,#3B95C6 51%,#237faf);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#57aedf', EndColorStr='#237faf')";
}

#editMessagePageFooter
{
    @column-padding-left: @message-spliter-width * 3 - 2;

    .attachments_list
    {
        .row
        {
            .file_info
            {
                width: @message-head-row-height * 15;

                .file-name
                {
                    max-width: @message-head-row-height * 12;
                }

                .fullSizeLabel
                {
                    max-width: @message-head-row-height * 3;
                }

            }

            .delete_icon
            {
                width: 16px;
                padding-left: @column-padding-left;

                .delete_attachment
                {
                    background: url("@{base-icon-sprite-url}") no-repeat;
                    background-position: -20px 0;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                }
            }

            .attachment-progress
            {
                width: 100px;
                display: inline-block;

                .fu-progress-cell
                {
                    text-align: center;

                    .upload-progress
                    {
                        background-color: #D1D1D1;
                        color: #FFFFFF;
                        width: 100px;
                        position: relative;
                        height: 15px;
                        overflow: hidden;

                        .progress-slider
                        {
                            left: 0;
                            position: absolute;
                            width: 0;
                            height: 14px;
                        }

                        .progress-label
                        {
                            left: 0;
                            font-size: 10px;
                            position: absolute;
                            width: 100%;
                            top: -3px;
                        }
                    }
                }
            }

            .load_result 
            {
                padding-left: @column-padding-left;

                .file-load-result
                {
                    max-width: 95%;
                    display: inline-block
                }
            }

            &:hover,
            &.selected
            {
                .delete_attachment
                {
                    background-position: -20px -20px !important;
                }
            }
        }
    }
}

.uploaded-text
{
    color: #a2a2a2 !important;
}

@media screen and (max-width: 1080px)
{
    .attachments_list {
        .file_info {
            width: @message-head-row-height * 15 !important;
            a, .file-name, .fullSizeLabel {
                display: inline-block;
                vertical-align: middle;
            }

        }
    }
}
