/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

@import 'settings.less';
@import 'mixins.less';

.contacts_list
{
    @border-style: @messages-border-style;
    width: 100%;
    table-layout: fixed;

    .row
    {
        height: @row-height;
        border-bottom: @border-style;
        /* zero cell padding */
        > *
        {
            padding: 0;
        }

        .checkbox
        {
            cursor: pointer;
            width: @row-height;

            input
            {
                margin-left: 9px;
                float: none;
            }
        }

        .info
        {
            width: 25%;
            word-wrap: break-word;

            .name
            {
                .box-sizing(border-box);
                padding-right: @row-height * 0.25;
                width: 100%;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .emails_list
        {
            .emails
            {
                white-space: nowrap;
                overflow: hidden;

                .email
                {
                    display: block;
                    float: left;
                    overflow: hidden !important;
                    width: auto !important;
                    margin: 0px !important;
                    text-overflow: ellipsis;
                    max-width: 50%;
                    height: 18px;

                    .contactEmail
                    {
                        color: #333333;
                        font-size: 12px;
                        text-decoration: none;
                        cursor: pointer;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                &.oneEmail
                {
                    .email
                    {
                        max-width: 95%;
                    }
                }
            }
        }

        .title
        {
            min-width: 150px;
            padding-right: 24px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .tags_info
        {
            .labels
            {
                .tag
                {
                    margin: 0 5px 0 0;
                    display: block;
                    float: left;
                    cursor: default;
                }
            }
        }

        .menu_column
        {
            width: @row-height;
            padding-right: 9px;

            .menu
            {
                background-color: transparent;
                background: url("@{base-icon-sprite-url}") no-repeat 0 -90px;
                width: 24px;
                height: 24px;
                float: right;
                right: 0px;
                cursor: pointer;
                margin-left: 24px;
                display: inline-block;
            }

                .menu.active
                {
                    background-position: -30px -90px;
                }
        }

        &:hover
        {
            background-color: @hovered-row_bg;

            .notification
            {
                display: inline-block;
            }

            .menu
            {
                background-position: -30px -90px;
            }

            .contactEmail {
                text-decoration: underline !important;
            }

            .more_lnk {
                .gray {
                    border-bottom: 1px dotted #333;
                }
            }
        }

        &.selected
        {
            background-color: @selected-row_bg;
        }
    }
}
.menuActionSendEmail
{
    span
    {
        max-width: none;
    }
}