/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

@import "settings.less";

[class^="icon-"], [class*=" icon-"] {
  width: @icon-height;
  height: @icon-width;
  margin-top: 1px;
  line-height: @icon-width;
  background-image: url("@{base-icon-sprite-url}");
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-mixin (@w, @h) {
  background-position: (@base-sprite-cell * @w * -1) (@base-sprite-cell * @h * -1);
}

.icon-unimportant {
    .icon-mixin(3,0);
    height: 12px;

    &:hover {
        .icon-mixin(3,1);
    }
}
.icon-important { 
    .icon-mixin(3,2); 
    height: 12px; 
}
.icon-attachment { .icon-mixin(0,3); }
.icon-fromsender { .icon-mixin(1,3); }
.icon-crm-plus { 
    .icon-mixin(2,3);
    vertical-align: text-bottom;
    height: 14px;
}