/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

@import "common.less";
@import "icons.less";
@import "messages.less";
@import "autocomplete.less";
@import "message.less";
@import "tags.less";
@import "attachments.less";
@import "popup.less";
@import "loading.less";
@import "accountspanel.less";
@import "accounts.less";
@import "contacts.less";
@import "settings.less";
@import "crm_integration.less";
@import "accountpopup.less";
@import "administration.less";

.savedtime {
    padding: @message-spliter-width / 4 @message-spliter-width 0 0;
}

.sysfolder .mail-navigation-table .pagerCurrentPosition,.sysfolder .mail-navigation-table .pagerNavigationLinkCSSClass,.sysfolder #TotalItems.mail-grayText,.sysfolder .mail-grayText.mail-navigation-total {
    display: none;
}
div#itemContainer span.button:hover, div#itemContainer span.button.hover {
    text-decoration: none;
}
div[id^="fu_item_"] {
    td:last-child {
        width: 100px !important;
        text-align: center;
    }
}
.clearFix.disabled {
    background: none !important;
}
#itemContainer {
    .head {
        .value-group.compose {
            label {
                color: #83888D;
                width: 55px;
                margin-left: 0;
                float: left;
            }
        }
    }
}
a.anchorLinkButton {
    float: right;
    margin-top: 3px;
}
.actionPanel {
    display: none;
    position: absolute;
    background: none repeat scroll 0 0 white;
    border: 1px solid #D1D1D1;
    padding: 4px;
    margin-top: 5px;
    z-index: @z-dropdown;
    min-width: 16px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    .action {
        line-height: 24px;
        text-align: left;
        padding: 0 12px;

        &.active {
            cursor: pointer;

            &:hover {
                background-color: #e9e9e9;
                text-decoration: none;
                border-radius: 2px;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
            }
        }

        .explanation {
           color: rgb(153, 153, 153);
        }
    }

    .tag {
        margin: 5px 3px 0 0;
        padding: 0 10px 0 0;
        text-overflow: clip;
    }

    .actionPanelContent {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 325px;
    }

    .popup-corner.bottom {
        background: url("@{base-icon-sprite-url}") no-repeat -10px -80px;
        width: 9px;
        height: 5px;
        top: auto;
        bottom: -5px;
        position: absolute;
        left: 10px;
    }

    .h_line {
        margin-bottom: 5px;
        margin-top: 5px;
        min-width: 180px;
    }

    .popup-corner.colors {
        margin-top: -7px;
    }

    .actionPanelSection {
        color: #333;
        font-size: 12px;
        font-weight: normal;
        margin-bottom: 8px;
    }

    .popup-corner {
        background: url("@{base-icon-sprite-url}") no-repeat;
        .icon-mixin (0,4);
        width: 9px;
        height: 5px;
        margin-top: -15px;
        position: absolute;
        left: 10px;
    }

    .a_delemiter {
        float: none;
        padding: 0;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1px;
        border-top: 1px solid rgb(209, 209, 209);
    }

    .popup-corner.right {
        left: auto;
        right: 10px;
    }

    .disabled {
        background: none;
    }
}
label.checkbox, label.mark_all_checkbox {
    width: 100% !important;
    cursor: pointer;
    color: #333 !important;
}

.settings {
    color: #999999;
    cursor: pointer;
}
.menu-action-simple-pagenav {
    a.pagerNextButtonCSSClass {
        margin-left: @message-spliter-width;
    }
    a.pagerPrevButtonCSSClass {
        margin-right: 0;
    }
    div {
        padding: 2px 5px 0 0;
        margin-left: 0;
    }
}

div#itemContainer div.pages-navigation a.button.page, div#itemContainer div.pages-navigation span.button.page {
    width: 22px;
    min-width: 1px;
}
.top-margin-menu {
    margin-top: 24px !important;
}
.contentMenu {
    display: block;
    padding-left: 0;
    width: 100%;
    z-index: @z-stick;
}

.wrap-helper-elements {
    overflow-y: auto;
    width: 100%;
    height: 300px;
    margin: 0px !important;
    padding: 0px !important;
}
div#itemContainer div.pages-navigation span.label, div#itemContainer div.pages-navigation a.button, div#itemContainer div.pages-navigation span.button {
    background: #FFF;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin: 0 5px 0 0;
    color: #000;
    text-align: center;
    text-decoration: none;
}
.textfield {
    .searchClear.composetoclear {
        margin-left: 553px;
        margin-top: -20px;
        position: absolute;
    }
}
* {
    html {
        .large-loading {
            height: 100px !important;
        }
        div#itemContainer {
            div.pages-navigation {
                span.button {
                    width: 50px;
                }
                span.button.page.current {
                    width: 22px;
                }
            }
        }
    }
}
.filterPanel {
    margin-bottom: 16px;
}
.leftPanelsDelimiter {
    width: 200px;
    height: 1px;
    border-top: 1px solid #d7d8dc;
}

.viewTitle {
    font-size: 18px;
    font-weight: bold;
    margin-left: 53px;
    max-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
}
.mail-gray-text {
    color: #83888D !important;
}
.menu-item:hover {
    .delete_mails {
        opacity: 1;
    }
}
div#itemContainer div.body, div#itemContainer div.body p {
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    padding-bottom: 11px;

    pre {
        margin-top: 24px;
    }
}
.lattersCount {
    float: right;
    padding-right: 8px;
    .unread {
        font-size:  14px;
        line-height: 17px;
    }
}

.row.selected {
    background: #f2f2f2;

    .tagArrow {
        background-position: right -40px;
        background-repeat: no-repeat;
    }
}
.plus.plusmail {
    background: url("@{base-icon-sprite-url}") no-repeat;
    .icon-mixin (2, 3);
    width: 11px;
    height: 11px;
    display: inline-block;
    float: left;
    margin: 6px 0 0 5px;
    cursor: pointer;
}

#mail_CreateNewTag {
    .entertagname {
        width: 242px;
        border: 1px solid #c7c7c7;
        display: inline-block;

        .square {
            margin: 5px 0 0 6px;
            display: inline-block;
            width: 5px;
            height: 9px;
            cursor: pointer;
        }

        input[type="text"] {
            border: 0px;
            width: 196px;
            line-height: 22px;
        }
    }

    .entertag_button {
        margin-bottom: 3px;
    }
}

#mail_CreateNewTag.requiredField.requiredFieldError {
    .entertagname {
        border-color: #c00 !important;
    }
}

.td_attach {
    position: absolute;
    right: 135px;
}
.folderName {
    float: left;
    font-weight: bold;
    font-size: 14px;
    width: 140px;
    height: 31px;
    line-height: 31px;
}
.custom-combobox.colorFilterItem {
    max-width: 140px !important;
}
#id_contacts_page {
    .column {
        margin-top: 0;
        .row {
            .description {
                .labels {
                    padding-top: 1px;
                }
            }
        }
    }
}

div.subject {
    margin: 0 0 12px 0;
    position: absolute;
    right: 150px;
    left: 50px;
}

.row-tag {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 14px !important;
}
div.studioSideBoxMailBody {
    padding: 5px 0 10px;
}
.advanced {
    .progressContainer {
        .loader {
            padding-left: 18px;
            margin-left: 2px;
        }
    }
}
.page-menu {
    .menu-actions {       
        .menu-main-button.middle.create-new {
            width: 198px;
        }
    }
    .menu-list.with-expander {
        .menu-item.sub-list {
            .expander {
                padding-left: 4px;
            }
        }
    }
}
h1.item {
    display: block;
    width: 720px;
    overflow: hidden;
}
.stick-panel {
    position: fixed;
    top: 0;
    z-index: @z-stick;
}

.simpleWrapper {
    width: auto;
    margin: 0;
}
.subject, .subject a {
    color: #333;
}

div#itemContainer div.pages-navigation a.button, div#itemContainer div.pages-navigation span.button {
    min-width: 50px;
    cursor: pointer;
    border: 1px solid #C7C7C7;
}
div.body {
    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}
.del {
    p {
        margin-top: 10px !important;
    }
}
.mark_all_checkbox {
    input {
        width: 13px;
        height: 13px;
        padding: 0;
        margin:0;
        vertical-align: bottom;
        position: relative;
        top: 14px;
        *overflow: hidden;
    }
    span {
        display: block;
        padding-left: 15px;
        text-indent: 6px;
    }
}
.error-popup {
    ul {
        padding-left: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .text {
        margin-right:10px;
    }
    li {
        label.error {
            font-weight: normal;
        }
    }
}
.arrow-down {
    margin: 0 0 2px 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 4px 4px 0 4px;
    border-color: #666 transparent transparent transparent;
    border-style: solid solid outset solid;
}
#tagsPanel, #tagsPanel span {
    cursor: default;
}
.containerBodyBlock div.buttons.new-account, .containerBodyBlock div.buttons.new-tag {
    margin: 0;
}
div.studioSideBoxMailHeader {
    border-bottom: 1px solid #C7C7C7;
    color: #333;
    font-size: 18px;
    padding: 0 0 5px 0;
}
.containerBodyBlock div.receive .encryptionTypeSelect, .containerBodyBlock div.send .encryptionTypeSelect {
    height: 26px;
    line-height: 22px;
    width: 224px;
    display: inline;
    margin-top: 5px;
}
a.disable {
    cursor: default;
    color: rgb(153, 153, 153);
}
.td_check {
    input {
        margin: 0 0 0 12px;
        padding: 0;
    }
}

.containerBodyBlock div.buttons a, .containerBodyBlock div.buttons button {
    margin-right: 4px;
}
.error-popup.account_error {
    background-image: none;
    padding: 10px;
    text-align: left;
    font-weight: normal;
}

.colorFilterItem {
    padding-left: 25px !important;
    position: relative;
}
.mail-navigation-table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    .tl-combobox {
        margin-bottom: 1px;
        vertical-align: middle;
        .combobox-title {
            .inner-text {
                color: #83888D;
                border-bottom: 1px dotted #83888D;
            }
        }
    }
}
h1 span, noindex:-moz-any-link {
    margin-left: 10px;
}
.hr {
    margin-top: 13px;
    margin-bottom: 19px;
    width: 180px;
    height: 1px;
    background: #c8c8c8;
}

.container.body {
    #MessageBodyContainer {
        width: 100% !important;
    }
}
.progressContainer {
    height: 32px;
    .loader {
        background: url("@{imaqes-base-url}loader/loader_16.gif") 0 8px no-repeat;
        padding-left: 20px;
        line-height: 32px;
        color: #999;
    }
}

.more_lnk {
    margin: 0 5px 0 10px;
    text-align:right;
    display:inline-block;
    cursor: pointer;
    .gray {
        border-bottom: none;
        color: #333;
        cursor: pointer;
        text-decoration: none;
    }
}
div.overDeleting {
    position: absolute;
    left: 0;
    height: 35px;
    width: 100%;
    background: url("@{imaqes-base-url}loader/loader_16_dark.gif") 10px 10px no-repeat;
}
.clearfix {
    min-height: 0;
    max-height: 120px;
    overflow-y: auto;
    width: 293px;
    margin-bottom: 16px;
}
.row:hover {
    .tagArrow {
        background-position: right -60px;
        background-repeat: no-repeat;
    }
}
noindex:-moz-any-link {
    margin-right: 3px !important;
    margin-top: -25px;
}
.menu-main-button {
    span:first-child {
        width: 145px !important;
    }
}
.large-loading {
    background: url("@{imaqes-base-url}loader/loader32.gif") center center no-repeat !important;
    min-height: 100px !important;
}

input[type="checkbox"] {
    margin-right: 3px;
}
.expander {
    margin-right: 0 !important;
}
div.checkbox {
    width: 36px;
    margin: 6px 0px 0 7px;
}

table#newMessage div.helper div.mailbox-from-helper, table#newMessage div.helper div.mailbox-to-helper {
    background: #FFF;
    border: 1px solid #8e908f;
    padding: 0 3px 0 3px;
}

#tagsColorsPanel {
    padding: 2px 0 2px 4px;
    display: none;
    #tagsColorsContent {
        display: block;
        width: 164px;
        div {
            width: 16px;
            height: 16px;
            float: left;
            margin: 2px;
            cursor: pointer;
        }
    }
}
tr.edittag {
    display: none;
    background: #edf6fd;
}
.mailContentWrapper {
    width: auto;
    margin: 0 24px 0 27px;
}
span.editTag {
    display: none;
    width: 133px;
    text-align: center;
    padding: 2px 0px;
    float: right;
}
.mailBoxContainer {
    padding-bottom: 48px;
}
.header-page {
    margin-bottom: 24px;
}
.newMessageWrap {
    padding-top: 2px;
    b {
        color: #333;
    }
    .disabled {
        background: none;
        color: gray;
    }
}

.delete_mails {
    background: url("@{base-icon-sprite-url}") no-repeat;
    .icon-mixin (3, 3);
    display: inline-block;
    width: 14px;
    height: 12px;
    cursor: pointer;
    opacity: 0;
}

.attachment-grouped-message {
    position: absolute;
    top: 0.1em;
    right: 120px;
    padding-left: 20px;
}

textarea {
    padding:3px 1px 3px 3px;
    overflow:auto;
}
.itemWrapper {
    .AddToCRMContacts {
        margin-left: 25px;
        display: inline;
        vertical-align: baseline;
    }
}
.mail-navigation-total {
    margin-right: 20px;
}
.messageHeader {
    .sort-icon {
        display: inline;
        float: right;
        width: 16px;
        height: 16px;
        margin: 5px 8px 0 0;
        cursor: pointer;
    }
    .sort-icon.desc {
        background: url("@{base-icon-sprite-url}") 0 0 no-repeat transparent;
    }
    .sort-icon.asc {
        background: url("@{base-icon-sprite-url}") 0 -20px no-repeat transparent;
    }
}

.containerAction {
    > span {
        float: left;
        margin-top: 4px;
        margin-right: 15px;
    }

    .deleteAttachmentsIcon {
        background: url("@{base-icon-sprite-url}") no-repeat -57px -84px;
        padding-right: 20px;
    }

    #attachments_limit_txt {
        margin: 7px 0 0 0;
    }
}

.contentMenuWrapper {
    height: 30px;
}

.no-messages {
    height: 24px;
    padding-top: 8px;
    line-height: 8px;
}
.selector-wrapper {
    .input-filter {
        padding: 3px 20px 0 3px;
        input {
            height: 14px;
            font-size: 12px;
            padding: 0 1px 0 3px;
            border: medium none;
            outline: medium none;
            width: 100% !important;
            overflow:hidden;
            margin-right: 5px;
        }
    }
    input[type="checkbox"] {
        overflow: visible;
        padding:0;
    }
}

.containerBodyBlock div.receive .portBox, .containerBodyBlock div.send .portBox {
    width: 52px;
    display: inline;
}
.fullSizeLabel {
    font-weight: normal;
    padding-left: 5px;
    color: gray;
}

.dashboard-center-box {
    .content .module-block .img {
        display: block;
        height: 130px;
        margin: 0 auto;
        background: url("@{blank-modal-sprite-url}") no-repeat;

        &.crm
        {
            .blank-modal-mixin (2);
        }

        &.tags
        {
            .blank-modal-mixin (1);
        }

        &.accounts
        {
            .blank-modal-mixin (0);
        }
    }
}

.mail-navigation-pager {
    display: inline-block;
    clear: right;

}
#pnl_SendFileList {
    width: 100%;
}
.composeTitle {
    font-size: 18px !important;
}




h1 {
    font-size: 30px;
    line-height: 33px;
    font-weight: normal;
    color: #333333;
    margin: 0px;
    padding: 0px;
    span {
        font-size: 18px;
        line-height: 30px;
        color: #333333;
        position: absolute;
        margin-top: 4px;
        margin-left: 0px;
    }
}
.td_datetime {
    color: #83888d;
    white-space: nowrap;
    position: absolute;
    right: 0;
    div {
        width: 130px;
        span.time {
            position: absolute;
            right: 0;
            margin-right: 10px;
        }
        span.date {
            width: 65px;
            text-align: right;
            display: inline-block;
        }
    }
}
.containerBodyBlock {
    color: #333;
    input[type="email"], 
    input[type="password"] {
        &:focus {
            outline: none;
            border: solid 1px #3186af;
        }
    }

    .mail-confirmationAction {
        margin-top: 10px;
        p {
            margin-top: 1px !important;
        }
    }
    .hint {
        font-size: 14px;
        color: #999999;
        margin-bottom: 9px;
    }
    div.del {
        margin-bottom: 27px;
    }
    .error-popup {
        margin: 16px 0;
    }
    div.buttons {
        clear: both;
        margin-top: 29px;
    }
    .markAllLabel {
        display: block;
        font-family: 'Open Sans';
        font-size: 12px;
        font-weight: bold;
        margin: 9px 0 -2px 0;
    }
}

.page-menu > .expandable {
    margin: 0;

    &.left-margin,
    .more.left-margin {
        margin-left: 17px;
    }

    .more {
        margin-top:-20px;
        position:relative;

        .shadow {
            background: url("@{background-sprite-url}") repeat-x 0 0;
            height: 20px;
        }

        .text {
            color: #999;
            height:19px;
            display:inline-block;
        }
    }

    .tag {
        text-overflow:clip;
    }

    .content {
        max-height: 250px;
        overflow-y: hidden;

        .tag {
            margin: 5px 5px 0 0;
            padding: 0 10px 0 0;
            height: 20px;
        }
    }
}
.withIcon {
    white-space: nowrap;
    div {
        padding-right: 23px !important;
    }
}
.td_checkbox {
    .cb {
        width: 43px;
        input {
            margin-left: 9px;
        }
    }
}
.existsTags {
    max-height:400px;
    overflow-y:auto;
}
.row-tag.inactive {
    .tag {
        cursor:auto;
    }
}
* html table#newMessage div.helper div.mailbox-from-helper, * html table#newMessage div.helper div.mailbox-to-helper {
    position: absolute;
}
.checkbox {
    span {
        line-height: 18px;
        margin: 3px 0 0 3px;
        vertical-align: middle;
    }
    input {
        height: 18px;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 0;
    }
}
div.error-popup {
    font-weight: bold;
    margin-top: 5px;
}
.colorFilterItem:before {
    border: 1px solid #8E908F;
    content: " ";
    display: block;
    height: 11px;
    left: 5px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 11px;
    z-index: 0;
}

.fromAccountSelector {
    margin-top: 10px;
}
.column {
    .row:hover {
        .delete_attachment {
            background-position: -16px 0;
        }
    }
    .row.row-tag {
        .label {
            float:left;
            width:200px;
            height: 19px;
            line-height: 19px;
            padding-top: 7px;
        }
        .addresses {
            margin-left: 224px;
            margin-right: 70px;
        }
    }
}
input {
    padding:3px 1px 3px 3px;
    overflow:hidden;
}
.addemail_error {
    clear: both;
    display: none;
    background: none repeat scroll 0 0 #F6E1A4;
    padding: 2px 3px 2px;
    width: 288px;
    margin-top: 3px;
    color: #111111;
    font-size: 12px;
    line-height: 14px;
}

.account_error {
    .attempt_header {
        font-weight: bold;
    }
}
.containerBodyBlock div.receive div.requiredField .authenticationTypeBox, .containerBodyBlock div.send div.requiredField .authenticationTypeBox {
    height: 26px;
    line-height: 22px;
    width: 157px;
    float: right;
    margin-right: -4px;
}

.placeholder {
    color: #999;
}
.collapse-conversation {
    display: inline;
    float: right;
    margin: 5px 8px 0 16px;
    color: #666;
    font-size: 11px;
    border-bottom: 1px dotted #666;
    cursor: pointer;
}
.rasdelitel_h_30 {
    height: 40px;
}
.subject {
    .fromblock {
        padding-left: 8px;
        margin-right: 5px;
        float: left;
        display: block;
        width: 204px;
        height: 33px;
        .author {
            display:inline-block;
            max-width:180px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.noContentBlock {
    .img {
        width: @blank-icon-width;
        height: @blank-icon-height;
        margin-right: 12px;
        margin-top: 10px;
        background-image: url("@{blank-icon-sprite-url}");

        &.trash {
            .blank-icon-mixin (1,2);
        }

        &.contacts {
            .blank-icon-mixin (0,0);
        }

        &.inbox {
            .blank-icon-mixin (1,0);
        }

        &.spam {
            .blank-icon-mixin (0,2);
        }

        &.drafts {
            .blank-icon-mixin (1,1);
        }

        &.sent {
            .blank-icon-mixin (0,1);
        }

        &.filter {
            background-image: url("@{common-images-url}empty_screen_filter.png");
        }

        &.accounts {
            .blank-icon-mixin(0,3);
        }

        &.tags {
            .blank-icon-mixin(1,3);
        }

        &.domains {
            .blank-icon-mixin(0,5);
        }
    }
}
.settings:hover {
    text-decoration: none !important;
}
.hidden {
    display: none;
}
div.studioSideBoxNavigationBody {
    padding: 5px 0 10px;
}

br.clear {
    display: block;
    width: 100%;
    height: 1px;
    line-height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}

@media screen and (max-height: 768px)
{
    .mail_wysiwyg_editor
    {
        min-height: 237px;

        .cke_contents.cke_reset
        {
            height: 237px !important;
        }
    }
}

@media screen and (min-height: 768px)
{
    .mail_wysiwyg_editor
    {
        min-height: 400px;

        .cke_contents.cke_reset
        {
            height: 400px !important;
        }
    }
}

@media screen and (max-width: 1200px)
{
    .hidden-min {
        display: none !important;
    }
}

.loadingBanner
{
    z-index: @z-popup;
}

#add-first-account
{
    text-align: left;

    .img_accounts
    {
        background: url("@{blank-icon-sprite-url}") no-repeat 1px -599px;
        width: 104px;
        min-height: 100px;
        margin: 0 12px 0 -4px;
        float: left;
        background-repeat: no-repeat;
    }

    .body
    {
        .title
        {
            font-weight: bolder;
            font-size: 14px;
        }

        .info
        {
            padding-top: 4px;
            line-height: 14px;
        }

        .question
        {
            line-height: 12px;
        }
    }

    .buttons
    {
        clear: both;
        margin: 15px 0 0 2px;

        .button
        {
            clear: both;
            margin-right: @message-spliter-width;
        }
    }
}

.stick-over {
  z-index: @z-stick-over;
}