/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

@import "settings.less";

.messages {
    @border-style: @messages-border-style;
    @muted-font-color: @messages-muted-font-color;

    width: 100%;
    table-layout: fixed;

    a {
        text-decoration: none;
        color: black;
    }

    .row {
        height: @row-height;
        border-bottom: @border-style;

        .a-mixin () {
            > a {
                height: @row-height;
                line-height: @row-height;
                width: 100%;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .centered-childs () {
            * {
                margin: auto;
                display: block;
            }
        }

        &:hover {
            background-color: @hovered-row_bg;

            .tagArrow {
                background-position: right -60px;
                background-repeat: no-repeat;
            }

            .author {
                text-decoration: underline !important;
            }
        }

        &.selected {
            background-color: @selected-row_bg;
  
            .tagArrow {
                background-position: right -40px;
                background-repeat: no-repeat;
            }
        }


        &.new {
            .from .author,
            .from .chain-counter,
            .subject a {
                font-weight: bold;
            }
        }
        /* zero cell padding */
        > * {
            padding: 0;
        }

        .checkbox {
            cursor: pointer;
            width: @row-height * 0.75;

            input {
                margin-left: 9px;
                float: none;
            }
        }

        .importance {
            width: @row-height;
            cursor: pointer;
            .centered-childs();
        }

        .from {
            width: @row-height * 6;
            word-wrap: break-word;
            .a-mixin();

            .author {
                max-width: @row-height * 5;
                float: left;
                height: @row-height;
                line-height: @row-height;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .chain-counter {
                padding: 0 floor((@row-height - @icon-height) / 4);
                display: inline-block;
            }
        }

        .subject {
            .a-mixin();

            a .more-tags {
                margin: 0 10px 0 5px;
                color: #333;
                cursor: pointer;
                font-weight: normal;
            }

            .tag {
                float: left;
                margin: floor((@row-height - 19px) / 2) 5px floor((@row-height - 19px) / 2) 0;
            }
        }

        .attachment {
            width: @row-height;
            .a-mixin();
            .centered-childs();

            > a > [class^="icon-"], [class*=" icon-"] {
                margin-top: floor((@row-height - @icon-height) / 2);
            }
        }

        .date,
        .time {
            width: @row-height * 2;
            text-align: right;
            color: @muted-font-color;
            word-wrap: break-word;
            .a-mixin();
        }

        .time {
            padding-right: floor((@row-height - @icon-height) / 2);
        }
    }
}