/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

/*
FAR Style (c) MajestiC <majestic2k@gmail.com>
*/

pre code[class]:after {
    content: 'highlight: ' attr(class);
    display: block;
    text-align: right;
    font-size: smaller;
    color: #CCC;
    background: white;
    border-top: solid 1px;
    padding-top: 0.5em;
}
pre code {
    display: block;
    background: #000080;
}
pre code,
.ruby .subst {
    color: #0FF;
}
.string,
.ruby .string,
.function .title,
.class .title,
.ini .title,
.tag .attribute .value,
.css .rules .value,
.css .rules .value .number,
.preprocessor,
.ruby .symbol,
.built_in,
.sql .aggregate,
.django .template_tag,
.django .variable,
.smalltalk .class,
.addition,
.apache .tag,
.apache .cbracket {
    color: #FF0;
}
.keyword,
.css .id,
.function .title,
.class .title,
.ini .title,
.vbscript .built_in,
.sql .aggregate,
.rsl .built_in,
.smalltalk .class,
.xml .tag .title,
.winutils,
.flow,
.lisp .title,
.change,
.envvar,
.bash .variable {
    color: #FFF;
}
.comment,
.phpdoc,
.javadoc,
.java .annotation,
.template_comment,
.deletion,
.apache .sqbracket {
    color: #888;
}
.number,
.date,
.regexp,
.literal,
.smalltalk .symbol,
.smalltalk .char {
    color: #0F0;
}
.python .decorator,
.django .filter .argument,
.smalltalk .localvars,
.smalltalk .array,
.css .attr_selector,
.xml .pi,
.diff .header,
.chunk,
.shebang {
    color: #008080;
}
.keyword,
.css .id,
.function .title,
.class .title,
.ini .title,
.vbscript .built_in,
.sql .aggregate,
.rsl .built_in,
.smalltalk .class,
.xml .tag .title,
.winutils,
.flow,
.lisp .title,
.apache .tag {
    font-weight: bold;
}
