/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

/*
Intellij Idea-like styling (c) Vasily Polovnyov <vast@whiteants.net>
*/

pre code {
    display: block;
    color: #000;
    background: #fff;
}
.subst,
.title {
    font-weight: normal;
    color: #000;
}
.comment,
.template_comment,
.javadoc,
.diff .header {
    color: #808080;
    font-style: italic;
}
.annotation,
.decorator,
.preprocessor,
.doctype,
.pi,
.chunk,
.shebang,
.apache .cbracket {
    color: #808000;
}
.tag,
.pi {
    background: #efefef;
}
.tag .title,
.id,
.attr_selector,
.literal,
.keyword,
.hexcolor,
.css .function,
.ini .title,
.css .class,
.list .title {
    font-weight: bold;
    color: #000080;
}
.attribute,
.rules .keyword,
.number,
.date,
.regexp {
    font-weight: bold;
    color: #0000ff;
}
.number,
.regexp {
    font-weight: normal;
}
.string,
.value,
.filter .argument,
.css .function .params,
.apache .tag {
    color: #008000;
    font-weight: bold;
}
.symbol,
.char {
    color: #000;
    background: #d0eded;
    font-style: italic;
}
.phpdoc,
.javadoctag {
    text-decoration: underline;
}
.variable,
.envvar,
.apache .sqbracket {
    color: #660e7a;
}
.addition {
    background: #baeeba;
}
.deletion {
    background: #ffc8bd;
}
.diff .change {
    background: #bccff9;
}
