/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

/*
Sunburst-like style (c) Vasily Polovnyov <vast@whiteants.net>
*/

pre code {
    font: 1em / 1.3em 'Lucida Console', 'courier new', monospace;
    color: #f8f8f8;
}
pre {
    background: #000;
}
.comment,
.template_comment,
.javadoc {
    color: #aeaeae;
    font-style: italic;
}
.keyword,
.ruby .function .keyword {
    color: #E28964;
}
.function .keyword,
.sub .keyword,
.method,
.list .title {
    color: #99CF50;
}
.string,
.attribute .value,
.cdata,
.filter .argument,
.attr_selector,
.apache .cbracket,
.date {
    color: #65B042;
}
.subst {
    color: #DAEFA3;
}
.regexp {
    color: #E9C062;
}
.function .title,
.sub .identifier,
.pi,
.tag,
.tag .keyword,
.decorator,
.ini .title,
.shebang {
    color: #89BDFF;
}
.class .title,
.smalltalk .class,
.javadoctag, .phpdoc {
    text-decoration: underline;
}
.symbol,
.number {
    color: #3387CC;
}
.params,
.variable {
    color: #3E87E3;
}
.css .keyword {
    color: #CDA869;
}
.css .class {
    color: #9B703F;
}
.rules .keyword {
    color: #C5AF75;
}
.rules .value {
    color: #CF6A4C;
}
.css .id {
    color: #8B98AB;
}
.annotation,
.apache .sqbracket {
    color: #9B859D;
}
.preprocessor {
    color: #8996A8;
}
.hexcolor,
.css .value .number {
    color: #DD7B3B;
}
.css .function {
    color: #DAD085;
}
.diff .header,
.chunk {
    background-color: #0E2231;
    color: #F8F8F8;
    font-style: italic;
}
.diff .change {
    background-color: #4A410D;
    color: #F8F8F8;
}
.addition {
    background-color: #253B22;
    color: #F8F8F8;
}
.deletion {
    background-color: #420E09;
    color: #F8F8F8;
}
