/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

/*
Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>
 */

.comment,
.annotation,
.template_comment,
.diff .header,
.chunk,
.apache .cbracket {
    color: rgb(0, 128, 0);
}
.keyword,
.id,
.title,
.vbscript .built_in,
.rsl .built_in,
.cpp .built_in,
.aggregate,
.smalltalk .class,
.winutils,
.bash .variable {
    color: rgb(0, 0, 255);
}
.string,
.title,
.parent,
.tag .attribute .value,
.rules .value,
.rules .value .number,
.ruby .symbol,
.instancevar,
.aggregate,
.template_tag,
.django .variable,
.addition,
.flow,
.stream,
.apache .tag,
.date {
    color: rgb(163, 21, 21);
}
.ruby .string,
.decorator,
.filter .argument,
.localvars,
.array,
.attr_selector,
.pi,
.doctype,
.deletion,
.envvar,
.shebang,
.preprocessor,
.userType,
.apache .sqbracket {
    color: rgb(43, 145, 175);
}
.phpdoc,
.javadoc,
.xmlDocTag {
    color: rgb(128, 128, 128);
}
