/*
 * 
 * (c) Copyright Ascensio System SIA 2010-2015
 * 
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation. 
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect 
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 * 
 * This program is distributed WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 * 
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 * 
 * The interactive user interfaces in modified source and object code versions of the Program 
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 * 
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program. 
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 * 
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical 
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International. 
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 * 
*/

/*
Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev
*/

pre code[class]:after {
    content: 'highlight: ' attr(class);
    display: block;
    text-align: right;
    font-size: smaller;
    color: #CCC;
    background: white;
    border-top: solid 1px black;
    padding-top: 0.5em;
}
pre code {
    display: block;
    background: #3F3F3F;
    color: #DCDCDC;
}
.keyword,
.tag,
.django .tag,
.django .keyword,
.css .class,
.css .id,
.lisp .title {
    color: #E3CEAB;
}
.django .template_tag,
.django .variable,
.django .filter .argument {
    color: #DCDCDC;
}
.number,
.date {
    color: #8CD0D3;
}
.dos .envvar,
.dos .stream,
.variable,
.apache .sqbracket {
    color: #EFDCBC;
}
.dos .flow,
.diff .change,
.python .exception,
.python .built_in,
.literal {
    color: #EFEFAF;
}
.diff .chunk,
.ruby .subst {
    color: #8F8F8F;
}
.dos .keyword,
.python .decorator,
.class .title,
.function .title,
.ini .title,
.diff .header,
.ruby .class .parent,
.apache .tag {
    color: #efef8f;
}
.dos .winutils,
.ruby .symbol,
.ruby .string,
.ruby .instancevar {
    color: #DCA3A3;
}
.diff .deletion,
.string,
.tag .attribute .value,
.preprocessor,
.built_in,
.sql .aggregate,
.javadoc,
.smalltalk .class,
.smalltalk .localvars,
.smalltalk .array,
.css .rules .value,
.css .attr_selector,
.apache .cbracket {
    color: #CC9393;
}
.shebang,
.diff .addition,
.comment,
.java .annotation,
.template_comment,
.pi,
.doctype {
    color: #7F9F7F;
}
.html .css,
.html .javascript {
    opacity: 0.5;
}
